<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div> Lista de Productos</div> 
      <ul class="row-all products-list" id="productos-encontrados">
        <!-- MAURO ACA HACES TU MAGIA -->
      </ul>

    

    

    </main>
    <script src="/js/fullChart.js"></script>
    <script src="/js/showFindedProducts.js"></script>
    <%- include('../partials/footer.ejs') %>
</body>
</html>