<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div> Lista de Productos</div> 
      <ul id ="productos-encontrados">

      </ul>

    

    

    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>