/*******************************************************************************************************/
/*Carrito*/
.chart-title{
    text-align: center;
 }
/* .image-article{
    display: flex;
    flex-wrap: wrap;
    font-size: .8rem;
    flex-direction: column;
    border: green solid 2rem
} */

main .aligner-container section .chart-list {
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem ;
}

main .aligner-container section .chart-list li {
    border: black solid .5rem ;
    width: 100% ;
    margin: auto;
    margin: 1rem 0rem 1rem ;
    padding: 1rem;
}

main .aligner-container section .chart-list li article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.chart-article{
    width: 20%;
    text-align: center;
}

.chart-article-image{
    width: 100%
}

.user-buttons{
    display: flex;
    flex-direction: column;
}

.user-buttons .secondary-options{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}
.user-buttons .secondary-options div{
    border: black 4px solid;
    margin:auto;
    margin: 1rem;
    padding: .5rem;
    background-color: orange;
    display: inline;
    text-align: center;
}
.user-buttons .secondary-options div a{
    text-decoration: none;
    color: black;
}
.purchase-option{
    border: white .5rem solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 16rem;
    width: 70%;
    max-width: 25rem;
    margin: auto;
    text-align: center;
    padding: .5rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.purchase-option button{
    width: 40%;
    margin: auto;
}

@media (min-width:992px){
    main .aligner-container *{
        font-size: 2rem;
    }

    main .aligner-container section .chart-list {
        justify-content: space-between ;
    }
    .user-buttons{
        flex-direction: row;
        justify-content: space-around;
    }
    .purchase-option {
        height: 20rem ;
    }

    .purchase-optionbutton{
        width: 60%;
        margin: auto
    }
}
/*******************************************************************************************************/