* {
  box-sizing: border-box;
}

/* .aligner-container.create-product .create-form form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
  border: 1PX solid green;
}
.aligner-container.create-product .create-form form div {
  width: 80%;
  margin: 2%;
}
.file-div {
  position: relative;
}
.file {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
} */
.file-div,
.category {
  border: gainsboro solid 0.2rem;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aligner-container.create-product .create-form form .features,
.aligner-container.create-product .create-form form .extra {
  width: 100%;
}
.aligner-container.create-product .create-form form div input {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: gainsboro solid 0.2rem;
}

@media (min-width: 768px) {
  .aligner-container.create-product .create-form form .features,
  .aligner-container.create-product .create-form form .extra {
    height: 4rem;
  }
}

@media (min-width: 996px) {
  .create-form {
    text-align: center;
  }
  form {
    max-width: 600px;
    margin: auto;
  }
  .aligner-container.create-product .create-form form div {
    height: 4rem;
  }
  .aligner-container.create-product .create-form form .features,
  .aligner-container.create-product .create-form form .extra {
    height: 6rem;
  }
}

@media (min-width: 1200px) {
}
