.home-banner {
    width: 100%;
}

.sections-navbar ul{
    padding-left: 0 ;
}

.sections-navbar ul{
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.sections-navbar ul li {
    font-size: 2rem;
    padding: 2rem;
    background-color: white;
    border-radius: 3rem;
    margin: 3rem;
}

.for-sale{
    margin-top: 3rem;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

.for-sale .articles ul {
    text-align: center;
    padding: 10%;
}

.for-sale .articles ul li {
    padding-top: 5%;
    padding-bottom: 5%;
    border: white solid 2px;
    margin-top: 5%;
}

.for-sale .articles .product {
    padding-left: 0 ;
    width: 80%;
    justify-content: space-between;
}