:root {
  --oscuro: #2d3142;
  --silver: #bfc0c0;
  --white: #ffffff;
  --orange: #ef8354;
  --blue: #4f5d75;
  --body-color: #0b1721;
}
* {
  box-sizing: border-box;
  padding-inline-start: 0;
}

body {
  background-color: var(--body-color);
  font-family: "Roboto", "Lato", "Yanone", sans-serif;
  padding: .8rem;
}

/*Header-section*/

header {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1.5rem 1.5rem 0 0;
  background-color: var(--oscuro);
}

.logo-img {
  /* Tamaño del logo 3366 x 3952 px */
  width: 134.64px;
  height: 158.08px;
}

header a {
  color: var(--white);
  text-decoration: none;
}

header .nav-1 .user-options {
  display: flex;
  margin: auto;
  max-width: 50%;
  justify-content: space-around;
  padding: 1rem;
  font-size: 30px;
}

.user-options span {
  padding: 16px;
  align-content: center;
}

ul li {
  list-style: none;
}

.nav-1 {
  text-align: center;
  padding: 1rem;
}

.fa.fa-bars.burger {
  background-color: #03264c;
  font-size: 1.2rem;
  padding: 1rem;
  margin: auto;
  border-radius: 1rem;
  color: #ffffff;
  text-align: center;
  display: block;
  max-width: 3rem;
}

.log {
  max-width: 30%;
  text-align: right;
}

.nav-2 {
  display: none;
  width: 100%;
}

.nav-2 ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

.nav-2 ul a {
  font-size: 1rem;
}

header a:hover {
  color: var(--orange);
}
.bvar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.browser-bar {
  width: 70%;
  height: 2rem;
  max-width: 400px;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  padding-left: 0.5rem;
  order: 1;
  margin: 1rem auto;
}


.user-options a,
.user-options a span {
  padding: 1rem;
  align-items: flex-end;
  right: 30px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
} */

main {
  padding: 2rem;
}

.main-container {
  padding: 1.5rem 0;
}

/* HOME */
.sections-navbar {
  justify-content: center;
}

.sections-navbar ul li {
  font-size: 1rem;
  padding: 1rem;
  background-color: white;
  margin: 2rem;
}

.sections-hrefs {
  text-decoration: none;
  color: brown;
  font-weight: bolder;
}

.home-banner {
  width: 96%;
  margin: 2%;
}

.sections-navbar ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.for-sale {
  margin-top: 3rem;
  text-align: center;
  font-style: italic;
}


.for-sale .articles ul li {
  padding-top: 5%;
  padding-bottom: 5%;
  border: white solid 2px;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.for-sale .articles .product {
  width: 90%;
  justify-content: space-between;
}

/* K.E. - Para mostrar los botones circulares del head */
.col-12 {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.col-12 img:hover{
  transform: scale(1.1);
  box-shadow: rgb(0 0 0 / 70%) 0 2px 10px;
}

.pic {
  width: 300px;
  border-radius: 50%;
  border: solid 1px #f4f4f4;
  transition: all 0.4s ease;
}

.pic:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.circle-title {
  font-size: 20px;
  width: 100%;
  color: white; /*var(--orange);*/
  /* -webkit-text-fill-color: white; */
  /* -webkit-text-stroke: .0000001px white; */
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
    2px -2px 1px #000;
  overflow: hidden;
  text-align: center;
  margin-top: -100px;
  font-weight: 800;
  position: relative;
}


/* /////////////////////////////////// PRODUCTS ///////////////////////////////////////// */

.row-category {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
  gap: 2rem;
  width: 100%;
}

.row-all{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
  gap: 3.5rem;
  width: 100%;
}

.categories{
  width: 100%;
  height: 50px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  font-size: 2.5rem;
  font-weight: bolder;
  background-color: var(--blue);
  color: white;
  background-image: linear-gradient(to right, var(--oscuro) 0%, var(--blue)  51%, var(--oscuro)  100%);
}

.col-4, .col-5 {
  flex-basis: 250px;
  flex-grow: 1;
  max-width: 300px;
}

.col-4 a, .col-5 a {
  display: block;
  border-radius: 10px !important;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.1s;
  /* border: 1px solid gainsboro; */
  /* background-color: gainsboro; */
}
.col-4 a:hover, .col-5 a:hover{
  transform: scale(1.03);
  box-shadow: rgb(255 255 255 / 70%) 0 -2px 20px;
}
.col-4 a .image, .col-5 a .image {
  position: relative;
}
.col-4 a .image img , .col-5 a .image img {
  width: 100%;
  height: 260px;
}
.col-4 .prod-description, .col-5 .prod-description {
  display: block;
  padding: 0 15px;
  width: 100%;
}
.col-4 a .prod-description h4, .col-5 a .prod-description h4 {
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  margin-block-start: 10px;
  margin-block-end: 0;
  color: gainsboro;
}


.col-4 a .prod-description p, .col-5 a .prod-description p{
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 2px;
  color: var(--orange);
}

.col-4  .chart-button button, .col-5  .chart-button, .chart-button button{
  border: none;
  width: 100%;
  padding: 10px 0px;
  font-weight: 500;
  font-size: 1.5rem;
  background-image: linear-gradient(to right, var(--oscuro) 0%, var(--blue)  51%, var(--oscuro)  100%);
  transition: .5s;
  background-size: 200% auto;
  color: var(--silver);            
  /* box-shadow: 0 0 10px #eee; */
}

.col-4  .chart-button button:hover, .col-5  .chart-button button:hover{
  background-position: right bottom;
  color: #fff;
  text-decoration: none;
}

/* ///////////////////////////////// CREATE PRODUCTS ///////////////////////////// */

.h1-create {
  width: 100%;
  color: white;
  text-align: center;
}


.create-prod {
  display: flex;
  border: var(--oscuro) solid 0.2rem;
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 1.5rem;
}

.create-form{
  width: 100%;
  text-align: center;
  /* display: block; */
  justify-content: center;
  align-items: center;
  margin: auto;
  background: #0b1721;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.form-row{
  width: 100%;
  height: 50px;
  max-width: 400px;
  position: relative;
  overflow: hidden;
  margin: 30px 20px;
}

.form-row input{
  width: 100%;
  height: 100%;
  background: none;
  color: #fff;
  padding-top: 20px;
  border: none;
  outline: 0px;
  font-size: 18px;
}
.form-row .lbl-name{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #c7c7c7;
  /* background-color: #0b1721; */
  /* background-color: rgba(11, 23, 33, 0.9); */
  color: white;
}

.form-row .lbl-name:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #2ecece;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.form-row input:-webkit-autofill,
.form-row input:-webkit-autofill:hover, 
.form-row input:-webkit-autofill:focus, 
.form-row input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px #0b1721 inset !important;
}

input:-webkit-autofill
{
 -webkit-text-fill-color: white !important;
}


.text-name{
  font-size: 18px;
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  color: #fff;
}

.form-row input:focus + .lbl-name .text-name,.form-row input:valid + .lbl-name .text-name{
  transform: translateY(-150%);
  font-size: 12px;
  color: #2ecece;
}

.form-row input:focus + .lbl-name:after, .form-row input:valid + .lbl-name:after{
  transform: translateX(0%);
}

.prod-img input{
  color: #fff;
  padding-bottom: 20px;
}

.prod-img label {
  color: #2ecece;
  font-size: 20px;
}

.btn-create {
  width: 40%;

  /* width: 100px; */
  height: 50px;
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin: 12px 0;
  color: var(--white);
  background-color: var(--blue);
}

.btn-delete {
  width: 60%;

  /* width: 100px; */
  height: 50px;
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin: 12px 0;
  color: white;
  background-color: red;
}

.btn-create:hover {
  background-color: #394a96;
}

.btn-delete:hover {
  background-color: rgb(230, 10, 10);
}

.feedback.is-danger{
  color: red;
}

.form-success{
  color: green;
}
.form-error{
  color: red;
}

/* //////////////////////// LOGIN, REGISTER Y RECOVER PASS ////////////////////////// */

.login-container .form-login {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  background: var(--white);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
}

.login-container h1 {
  text-align: center;
}


.login-container h1, 
.login-container h2,
.login-container .user-email {
  color: var(--silver);
  padding: 10px;
}

.login-container img {
  width: 200px;
  height: 200px;
}

/* .login-box {
  display: flex;
  flex: wrap;
  align-items: center;
  align-content: center;
  width: 320px;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
} */

.form-login h1 {
  font-size: 24px;
  color: var(--oscuro);
  margin-bottom: 10px;
  padding: 13px 0;
  text-align: center;
}

.textbox-login {
  width: 40%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0 30px 0;
  border-bottom: 2px solid var(--oscuro);
}

.textbox-login i {
  display: flex;
  flex-wrap: wrap;
  width: 26px;
  float: left;
  text-align: center;
  color: var(--oscuro);
}

.textbox-login input {
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
  width: 80%;
  float: left;
  margin: 0 10px;
  color: var(--oscuro);
}

.btn-login {
  width: 100px;
  height: 50px;
  background: none;
  border: 2px solid;
  border-radius: 5px;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  color: var(--white);
  background-color: var(--blue);
}

.btn-login:hover {
  background-color: #394a96;
}

.checkbox-login{
  margin: auto;
}

.checkbox-login label {
  font-size: 16px;
  padding-right: 16px;
  color: var(--oscuro);
}

/* /////////////////////////////////// PROFILE LOGIN /////////////////////////////////// */

.container-profile {
  width: 100%;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  text-align: center;
}

.container-profile-2 {
  width: 100%;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  text-align: center;
}

.img-profile {
  width: 230px;
  height: 300px;
  margin: auto;
  /*border-radius: 100%;*/
}

.container-btn {
  width: 100%;
  align-items: center;
  align-self: center ;
  padding: 10px;
}

.btn-profile {
  align-items: center;
  width: 60px;
  height: 40px;
  margin: 16px;
  padding: 8px;
  border: 1px solid;
  border-radius: 5px;
  text-decoration: none;

  font-size: 14px;

  color: var(--white);
  background-color: var(--blue);
}

.btn-profile:hover {
  background-color: #394a96;
  color: white;
}

.btn-profile-delete {
  align-items: center;
  /* width: 100px; */
  height: 40px;
  margin: 20px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  text-decoration: none;

  font-size: 14px;

  color: var(--white);
  background-color: red;
}

.btn-profile-delete:hover {
  background-color: rgb(209, 1, 1);
  color: white;
}

/* /////////////////////////////////// MIDDLEWARE NOTFOUND ///////////////////////////// */

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.text-danger {
  color: var(--orange);
  font-size: 1rem;
}
/* FIN -  LOGIN KE*/

.div_p_login {
  text-decoration: none;
  text-align: center;
  color: black;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  align-content: center;
}

.link-login {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.link-login:hover {
  color: blue;
}

.centrado {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.div-robot {
  width: 200px;
  height: 5px;
  margin: 2px;
  border: solid 1px grey;
  font-size: 50%;
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-container {
  margin: 0 auto;
}

.textbox-login i {
  /*width: 10px;*/
  display: none;
}
.textbox-login {
  width: 65%;
  font-size: 15px;
}

/*******************************************************************************************************/
/*Carrito*/

main section .chart-list {
  background-color: blanchedalmond;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

main section .chart-list li {
  border: black solid 0.5rem;
  width: 100%;
  margin: auto;
  margin: 1rem 0rem 1rem;
  padding: 0.5rem;
}

main section .chart-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: yellow 2px solid;
}

main section .chart-item div {
  padding: 0.3rem 0;
}

.chart-article {
  width: 100%;
  text-align: center;
}

.chart-article-image {
  width: 80px;
  height: 80px;
}

.article-description {
  font-size: 1rem;
}

.chart-description {
  margin: 0 2rem;
}
.free-ship {
  font-size: 0.8rem;
  margin: 0 auto;
  color: green;
  font-weight: bolder;
}

.chart-quantity {
  width: 100%;
  text-align: center;
}

.chart-price {
  width: 100%;
  text-align: center;
  font-weight: bolder;
}
.user-buttons {
  display: flex;
  flex-direction: column;
}

.user-buttons .secondary-options {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
}
.user-buttons .secondary-options div {
  border: black 4px solid;
  margin: auto;
  margin: 1rem;
  padding: 0.5rem;
  background-color: orange;
  display: inline;
  text-align: center;
}
.user-buttons .secondary-options div a {
  text-decoration: none;
  color: black;
}
.purchase-option {
  border: white 0.5rem solid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 16rem;
  width: 70%;
  max-width: 25rem;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.purchase-option button {
  width: 40%;
  margin: auto;
}
/* ////////////////////////////// Detalle del Producto ///////////////////////////////// */

section .product {
  background-color: white;
  padding: 1rem;
  align-items: center;
}

section .product product-price-and-shipping {
  margin-bottom: 0.2rem;
}

.img-div {
  padding: 0 20px;
}

main section .img-main {
  width: 100%;
  border: black 1px solid;
  padding: 20px;
  display: block;
}

.title-heart {
  display: flex;
  align-items: center;
  width: 100%;
}

.title-detail {
  width: 90%;
  text-align: center;
  padding: 20px;
}

.title-detail h2{
  font-size: 35px;
  font-weight: bolder;
  border-radius: 10px;
  /* background-color: var(--blue);
  color: white;
  background-image: linear-gradient(to right, var(--oscuro) 0%, var(--blue)  51%, var(--oscuro)  100%); */
}

.favorite-heart {
  text-align: center;
  font-size: 35px;
  padding: 10px 10px;
  color: var(--orange)
}

.favorite-heart p{
  font-size: 12px;
  color: var(--orange)
}

.heart-full, 
.heart-empty {
  padding: 10px 10px;
}

.heart-full {
  display: none;
}



.heart-full:hover, 
.heart-emptyt:hover {
  color: #cc6b42;
}

/* Precio y Descuento */
.price-discount {
  /* border: yellow 2px solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.price-detail {
  color: black;
  font-weight: bolder;
}

.price-detail p{
  font-size: 2.5rem;
}

.discount-detail {
  color: var(--orange);
}

.discount-detail p{
  font-size: 2.5rem;
}

main section div .discount-detail,
main section div .price-detail {
  /* border: red 2px solid; */
  font-size: 2rem;
  font-weight: bolder;
  padding: 1rem 1rem;
}

/* Para que es esto??? */
element.style {
  box-sizing: border-box;
}

/* Ficha de cuotas y envíos de Detalle de Producto*/

.ship-container {
  max-width: 600px;
  display: block;
  margin-left: 2rem;
} /* ponerlo como display: block en 768 */

.info-ficha {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid rgba(126, 126, 131, 0.15);
}

.top-file {
  border-top: 2px solid rgba(126, 126, 131, 0.15);
}

.ship-country {
  line-height: 22px;
}

.img-ship {
  width: 50px;
  margin-left: 1.5px;
}

.img-ship img {
  width: 100%;
}

.icons-ship {
  font-size: 42px;
  margin-left: 5px;
}

.icon-store {
  font-size: 28px;
  margin-left: 5px;
  color: rgb(112, 112, 112);
}

.truck-ship {
  font-size: 25px;
  margin-left: 8px;
  color: rgb(112, 112, 112);
}

.stock,
.green {
  color: green;
  font-weight: bolder;
}

.ship-text {
  font-family: "Lato";
  width: 80%;
  color: var(--oscuro);
  padding-left: 1rem;
  font-size: 0.8rem;
}

/* MODAL DE CUOTAS MERCADO PAGO */

.modal-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}  

.modal-wrapper .modal-content{
  max-width: 640px;
  background: gainsboro;
  padding: 50px;
}

.modal-content h3 {
  padding: 10px;
  font-weight: bolder;
  color: var(--oscuro);
}

.info-ficha-detail {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid rgba(126, 126, 131, 0.15);
}

.img-ship-detail {
  width: 50px;
  margin-left: 1.5px;
}

.img-ship-detail img {
  width: 100%;
  border-radius: 50%;
}

.ship-text-detail {
  font-family: "Lato";
  width: 80%;
  color: var(--oscuro);
  padding-left: 1rem;
  font-size: 1.2rem;
}

.div-button-detail {
  padding: 30px;
}

.button-detail {
  background-color: var(--blue);
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 20px;
}

main section .button-detail:hover {
background-color: #394a96;
}

#dues{
  display: none;
}

/* MODAL DE ENVIOS A TODO EL PAIS */

.modal-wrapper-shipping{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}  

.modal-wrapper-shipping .modal-content{
  max-width: 640px;
  background: gainsboro;
  padding: 50px;
}

.modal-content h3 {
  padding: 10px;
  font-weight: bolder;
  color: var(--oscuro);
}

.info-ficha-detail {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid rgba(126, 126, 131, 0.15);
}

.img-ship-detail {
  width: 50px;
  margin-left: 1.5px;
}

.img-ship-detail img {
  width: 100%;
  border-radius: 50%;
}

.ship-text-detail {
  font-family: "Lato";
  width: 80%;
  color: var(--oscuro);
  padding-left: 1rem;
  font-size: 1.2rem;
}

.div-button-detail {
  padding: 30px;
}

.button-detail {
  background-color: var(--blue);
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 20px;
}

main section .button-detail:hover {
background-color: #394a96;
}

#shipping {
  display: none;
}

.retiro-text {
  font-family: "Lato";
  width: 80%;
  color: var(--oscuro);
  padding-left: 22px;
  font-size: 0.8rem;
}

.warranty-text {
  font-family: "Lato";
  width: 80%;
  color: rgb(152, 22, 228);
  padding-left: 22px;
  font-size: 0.8rem;
  margin-top: 15px;
}

.warranty i {
  color: rgb(116, 33, 163);
  font-size: 33px;
  margin-left: 5px;
}

.warranty-text span {
  font-weight: bold;
}

.links-ship {
  width: 100%;
  font-size: 0.6rem;
  color: rgb(31, 111, 216);
  text-decoration: none;
  cursor: pointer;
}

.links-ship:hover {
  color: lightskyblue;
}

main section .product .product-features {
  font-size: 0.8rem;
  line-height: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

.feature {
  padding: 5px 0;
}

main section .product .product-features .feature {
  width: 100%;
  padding-left: 10px;
}

main section div .div-quantity {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

main section div .div-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 220px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
}

main section .product .div-button {
  background-color: var(--blue);
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  margin: 0.5rem 1rem;
  font-size: 14px;
}

main section .div-button:hover {
  background-color: #394a96;
}


.adminOptions {
  width: 100%;
  margin: 10px;
  text-align: center;
}

.prod-edit .div-button{ 
  text-decoration: none;
  font-size: 30px;
}

.prod-recomended {
  /* background-color: var(--oscuro); */
  text-align: center;
  padding-top: 40px;
}

.prod-recomended h1{
  /* background-color: var(--oscuro); */
  text-align: center;
  padding-top: 40px;
}


main section .recomended-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
}

main section .recomended-container img {
  width: 100%;
}

.product-recomended {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 15px 5px;
}

.product-recomended .item-recomended,
.cuotas {
  width: 100%;
  text-align: center;
  font-weight: bolder;
}

.cuotas {
  margin-top: 0.5rem;
}

.title-rec {
  font-size: 0.9rem;
  width: 100%;
}

.rec-button {
  background-color: var(--blue);
  color: white;
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
  display: block;
}

.item-recomended span {
  font-family: "Lato";
  font-size: 20px;
  color: rgb(3, 199, 3);
}

/* //////////////////////////////// Footer /////////////////////////////////////// */

footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0 0 1.5rem 1.5rem;
  background-color: var(--oscuro);
  color: white;
}

.footer-info span ul li a {
  list-style: none;
  text-decoration: none;
  color: ghostwhite;
}

.footer-info a:hover {
  color: var(--orange);
}

footer nav {
  justify-content: space-between;
  display: block; /*flex ;*/
}

footer span ul {
  padding-left: 0;
}

footer h2 {
  font-weight: bolder;
}

.about-us,
.utility-info,
.support,
.social-networks {
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
}

.social-networks {
  padding-top: 1rem;
}

.social-networks-icons {
  font-size: 1.5rem;
  padding: 4px;
  color: white;
}

.social-networks-icons:hover {
  color: var(--orange);
  transform: scale(1.5);

}

.rigths {
  margin-top: 3rem;
  text-align: center;
  font-size: 0.8rem;
}
/*******************************************************************************************************/
/*Productos*/
/* h1,
h2 {
  text-align: center;
  font-style: italic;
} */

.section-product-list li article {
  border: white solid 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  padding: 0.5rem;
}

.article-image {
  width: 50%;
  margin: auto;
}

.btn-login {
  width: 30%;
  height: 40px;
  background: none;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  margin: 12px 0;
  color: var(--white);
  background-color: var(--blue);
}

.btn-danger {
  width: 30%;
  height: 50px;
  background: none;
  border: 2px solid;
  border-radius: 5px;
  color: black;
  padding: 5px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  margin: 12px 0;
  background-color: red;
}

/************************* USO GRID LISTADO DE USUARIOS ****************************/
.container-table {
  overflow:scroll;
  width: 93%;
  background: white;
  margin: 50px auto;
  box-shadow: 0 0 20px #333;
  display: grid;
  grid-template-columns: repeat(7, 14.28%);
  grid-auto-rows: 50px; /*alto de filas*/
}

.table__title {
  grid-column-start: 1;
  grid-column-end: 6;
  background-color: var(--blue);

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 2px;
}

.table__header,
.table_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table__header {
  font-weight: bold;
  font-size: 1.5rem;
}

.table__header-title {
  color: var(--silver);
  display: flex;
  justify-content: center;
  align-items: center;
}

.table__item {
  padding: 12px;
  font-size: .9rem;
  text-align: center;
}

/********************************** FIN USO GRID LISTADO DE USUARIOS ********************************************************/

/************************************************************************************************************************/
/* KBE - Por ahora oculto el ID ver como se manejará con BD */
.id-oculto {
  display: none;
}
/************************************************************************************************************************/

@media (min-width: 992px) {
  ul {
    padding: 0;
  }
  section ul {
    margin: 1rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  section ul li {
    width: 40%;
    margin: auto;
  }

  header .nav-1 .user-options {
    max-width: 30%;
  }

  /* HOME */
  .sections-navbar {
    padding: 3rem;
  }

  .sections-navbar nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .sections-navbar ul li {
    font-size: 2rem;
    padding: 2rem;
    background-color: white;
    border-radius: 3rem;
    margin: 2;
    width: 40%;
  }

  .for-sale .articles ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .for-sale .articles ul li {
    width: 46%;
    margin: 2%;
  }

  /* KBE 280121 */

  .btn-login {
    width: 40%;
    height: 50px;
    font-size: 16px;
  }
  
  /* PROFILE LOGIN */

  .btn-profile {
    align-items: center;
    width: 70px;
    height: 40px;
    margin: 16px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
  
    font-size: 16px;
  
    color: var(--white);
    background-color: var(--blue);
  }

  .btn-profile-delete {
    align-items: center;
    width: 15%;
    height: 50px;
    margin: 20px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
  
    font-size: 16px;
  
    color: var(--white);
    background-color: red;
  }

}

@media (min-width: 1200px) {
  section ul li {
    width: 30%;
    margin: auto;
  }

  /* HOME */
  .sections-navbar ul li {
    font-size: 1.6rem;
    padding: 2rem;
    background-color: white;
    border-radius: 3rem;
    margin: 2rem;
    width: 14%;
  }
  .for-sale .articles ul {
    padding: 0;
  }
  .for-sale .articles ul li {
    width: 16%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .for-sale .articles ul li img {
    width: 80%;
    height: 50%;
  }
}
.bad-request{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

/* //////////////////////////////Media queries ///////////////////////////////////// */
@media (min-width: 363px) {
  .img-ship {
    width: 50px;
    margin-left: 2px;
  }
}

@media (min-width: 576px) {
  .fa.fa-bars.burger {
    display: block;
  }

  .fa.fa-bars.burger {
    display: none;
  }

  .nav-2 {
    display: block;
    padding-top: 40px;
  }

  main section .product .product-features {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  main section .recomended-container h3 {
    width: 100%;
    text-align: center;
  }

  main section .recomended-container .product-recomended {
    width: 46%;
    margin: 0 10px;
  }

  /* K.E. - Para mostrar los botones circulares del head */

  .circle-title {
    font-size: 22px;
    width: 100%;
    color: white;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
      2px -2px 1px #000;
    overflow: hidden;
    text-align: center;
    margin-top: -100px;
    font-weight: 800;
  }

  /**********************************CARRITO************************************/

  main section .chart-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border: yellow 2px solid;
  }

  main section .chart-item div {
    padding: 0.3rem 0;
  }

  .chart-article {
    width: 15%;
    margin: 20px 20px;
    text-align: left;
  }

  .chart-article-image {
    width: 100px;
    height: 100px;
  }

  .article-description {
    font-size: 1.2rem;
    margin: 10px 0 5px 0;
  }

  .free-ship {
    font-size: 0.8rem;
    margin: 0 auto;
    color: green;
    font-weight: bolder;
    margin: 10px 0 10px 0;
  }

  .chart-quantity {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
  }

  .chart-price {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .chart-item div form {
    width: 100%;
    align-items: center;
  }

  .chart-item div .trash {
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    align-items: center;
    /* padding: 10px; */
    /*Este falta centar */
  }

  footer nav {
    justify-content: space-between;
    display: flex;
    padding-top: 50px;
  }

  .social-networks {
    padding-top: 0;
  }

  .social-networks-icons {
    font-size: 1.1rem;
  }

  footer span h2 {
    font-size: 1rem;
  }

  footer span ul li {
    font-size: 0.7rem;
  }

  /*KBE 280121*/
  .product-category {
    background-color: var(--white);
    width: 8%;
    height: 8%;
    padding: 2%;
    border: yellow 2px solid;
  }
}

/* ////////////////////////////////  MEDIA QUERIES /////////////////////////////////// */

/*  Agregar para que muestre dos columnas los botones comp perifericos gabinetes*/

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  .nav-2 ul a {
    font-size: 1.2rem;
  }

  /* //////////////////////////////////// Detalle del Producto /////////////////////////// */

  section .product {
    background-color: white;
    padding: .5rem;
    align-items: flex-start
  }
  
.img-div {
  padding: 20px;
}

main section .img-main {
  width: 100%;
  border: black 1px solid;
  padding: 20px;
  display: block;
}

  main section .product .product-features .feature {
    width: 33%;
    padding: 0 1rem;
  }

  main section .product .product-features {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  main section .product {
    display: flex;
    flex-wrap: wrap;
  }

  main section div .product-detail {
    width: 50%;
  }

  .product-price-and-shipping {
    width: 50%;
  }

  main section .product .div-quantity {
    width: 100%;
    height: 50%;
    /* border: blue 5px solid; */
    position: relative;
  }

  main section .recomended-container .product-recomended {
    width: 22%;
    margin: 0 10px;
  }

  main section .product-recomended .title-rec,
  main section .product-recomended span {
    font-size: 0.8rem;
  }

  main section .product .div-button {
    font-size: 16px;
  }

  .row-all{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
    gap: 3.5rem;
    width: 100%;
  }
  
  .categories{
    width: 100%;
    height: 50px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    font-size: 2.5rem;
    font-weight: bolder;
    background-color: var(--blue);
    color: white;
    background-image: linear-gradient(to right, var(--oscuro) 0%, var(--blue)  51%, var(--oscuro)  100%);
  }

  .col-detail a{
    /* background-color: gainsboro; */
    /* border: 1px solid var(--silver); */
  }
  
  .col-detail a:hover, .col-5 a:hover{
    transform: scale(1.03);
    box-shadow: rgb(0 0 0 / 70%) 0 -2px 20px;
  }
  .col-detail a .image, .col-5 a .image {
    position: relative;
  }
  .col-detail a .image img , .col-5 a .image img {
    width: 100%;
    height: 260px;
  }
  .col-detail .prod-description, .col-5 .prod-description {
    display: block;
    padding: 0 15px;
    width: 100%;
  }
  .col-detail a .prod-description h4, .col-5 a .prod-description h4 {
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    margin-block-start: 10px;
    margin-block-end: 0;
    color: black;
  }
  
  
  .col-detail a .prod-description p, .col-5 a .prod-description p{
    width: 100%;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 2px;
    color: var(--orange);
  }
  
  .col-detail  .chart-button button, .col-5  .chart-button, .chart-button button{
    border: none;
    width: 100%;
    padding: 10px 0px;
    font-weight: 500;
    font-size: 1.5rem;
    background-image: linear-gradient(to right, var(--oscuro) 0%, var(--blue)  51%, var(--oscuro)  100%);
    transition: .5s;
    background-size: 200% auto;
    color: var(--silver);            
    /* box-shadow: 0 0 10px #eee; */
  }
  
  .col-detail  .chart-button button:hover, .col-5  .chart-button button:hover{
    background-position: right bottom;
    color: #fff;
    text-decoration: none;
  }

  /* K.E. - Para mostrar los botones circulares del head */

  .circle-title {
    font-size: 24px;
    width: 100%;
    color: white; /*var(--orange);*/
    /* -webkit-text-fill-color: white; */
    /* -webkit-text-stroke: .0000001px white; */
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
      2px -2px 1px #000;
    overflow: hidden;
    text-align: center;
    margin-top: -100px;
    font-weight: 800;
  }

  /********************CARRITO*********************/

  /*   
main section .chart-item div {
    padding: .5rem 0;
}*/

  .chart-article {
    margin: 20px 0 20px 20px;
  }

  .chart-description {
    width: 35%;
  }

  .chart-article-image {
    width: 100px;
    height: 100px;
  }

  .article-description {
    font-size: 1rem;
  }

  .chart-quantity {
    width: 20%;
    font-size: 0.9rem;
  }

  .chart-price {
    width: 15%;
    text-align: center;
    font-size: 1rem;
  }

  .chart-item div .trash {
    width: 100%;
    font-size: 1.2rem;
    justify-self: flex-end;
  }

  /*Carrito*/
  main section .chart-list {
    justify-content: space-between;
  }
  .user-buttons {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
  }
  .purchase-option {
    padding-top: 30px;
    height: 20rem;
    color: white;
  }

  .purchase-optionbutton {
    width: 60%;
    margin: auto;
  }

  /* Footer */
  .social-networks-icons {
    font-size: 1rem;
    padding: 4px;
  }

  footer span h2 {
    font-size: 1rem;
  }

  footer span ul li a {
    font-size: 1rem;
  }

  .social-networks h4 {
    font-size: 1rem;
  }

  .social-networks-icons {
    font-size: 1.3rem;
    padding: 4px;
  }

    /* PROFILE LOGIN */

    .container-profile {
      width: 100%;
      /* display: flex; */
      /* justify-content: center; */
      align-items: center;
      flex-wrap: wrap;
      /* flex-direction: column; */
      text-align: center;
    }

    .container-profile-2 {
      width: 100%;
      /* display: flex; */
      justify-content: center;
      /* align-items: center; */
      flex-wrap: wrap;
      /* flex-direction: row; */
      text-align: center;
    }

    .profile-user {
      font-size: 1.5rem;
    }

  /*KBE 280121*/
  .product-category {
    background-color: var(--white);
    width: 8%;
    height: 8%;
    padding: 2%;
    border: yellow 2px solid;
    font-size: 1rem;
  }

  .btn-login {
    width: 20%;
    height: 50px;
    background: none;
    border: 2px solid;
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    color: var(--white);
    background-color: var(--blue);
  }
}

@media (min-width: 992px) {
  header,
  footer nav span ul li {
    font-size: 1.4rem;
  }

  header {
    display: flex;
    flex-wrap: wrap;
  }

  header .nav-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  header .nav-1 .logo {
    order: 0;
    width: 30%;
  }

  .logo-img {
    /* Tamaño del logo 3366 x 3952 px */
    width: 187px;
    height: 219.56px;
  }

  .browser-bar {
    font-size: 1.1rem;
    width: 350px;
  }
  
  /* K.E. - Para mostrar los botones circulares del head */

  .circle-title {
    font-size: 24px;
    width: 100%;
    color: white; /*var(--orange);*/
    /* -webkit-text-fill-color: white; */
    /* -webkit-text-stroke: .0000001px white; */
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
      2px -2px 1px #000;
    overflow: hidden;
    text-align: center;
    margin-top: -100px;
    font-weight: 800;
  }

  /***********************************************************************************************/
  /*
LOGIN, REGISTER Y RECOVER PASS
*/
  .login-container .form-login {
    width: 50%;
    margin: 0 auto;
    padding: 15px;
    background: var(--white);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    color: white;
  }

  /* .login-box {
    display: flex;
    flex: wrap;
    align-items: center;
    align-content: center;
    width: 320px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
  } */

  .form-login h1 {
    font-size: 36px;
    color: #2a3446;
    margin-bottom: 10px;
    padding: 13px 0;
    text-align: center;
  }

  .textbox-login {
    width: 40%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0 30px 0;
    border-bottom: 2px solid var(--oscuro);
  }

  .textbox-login i {
    display: flex;
    flex-wrap: wrap;
    width: 26px;
    float: left;
    text-align: center;
    color: var(--oscuro);
  }

  .textbox-login input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
    color: var(--oscuro);
  }

  .textbox-login select {
    height: 40px;
  }

  .btn-avatar input{
    width: 80%;
    font-size: 20px;
    color: var(--oscuro);
    /* background-color: green; */
  }

  .btn-login {
    width: 20%;
    height: 50px;
    background: none;
    border: 2px solid;
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    color: var(--white);
    background-color: var(--blue);
  }

  .btn-login:hover {
    background-color: #394a96;
  }

  /* MIDDLEWARE NOTFOUND */

  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  /* FIN NUEVO LOGIN KE*/

  .div_p_login {
    text-decoration: none;
    text-align: center;
    color: black;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    align-content: center;
  }

  .link-login {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  .link-login:hover {
    color: blue;
  }

  .centrado {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .div-robot {
    width: 200px;
    height: 5px;
    margin: 2px;
    border: solid 1px grey;
    font-size: 50%;
    padding: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-login {
    width: 40%;
    height: 50px;
    font-size: 16px;
  }

  .textbox-login i {
    /*width: 10px;*/
    display: none;
  }
  .textbox-login {
    width: 65%;
    font-size: 15px;
  }

  /********************CARRITO*********************/

  /*   
main section .chart-item div {
    padding: .5rem 0;
}*/

  .chart-article-image {
    width: 150px;
    height: 150px;
  }

  .article-description {
    font-size: 1.2rem;
  }

  .free-ship {
    font-size: 1.1rem;
  }

  .chart-quantity {
    width: 20%;
    font-size: 1.1rem;
  }

  .chart-price {
    font-size: 1.3rem;
  }

  .chart-item div .trash {
    font-size: 1.3rem;
  }
}
/***********************************************************************************************/

@media (min-width: 1200px) {
  header,
  footer {
    max-height: 420px;
  }

  .browser-bar {
    font-size: 1.1rem;
    width: 400px;
  }


  /* De aca saque el header y footer para que no tengan max width */ 

  main {
    display: block;
    margin: auto;
    max-width: 1300px;
    font-size: 1.8rem;
  }

  main .cantidad {
    font-size: 1rem;
    padding-bottom: 10px;
  }

  main section .product .div-button {
    font-size: 20px;
  }

  /* main section button {
    width: 280px;
  } */

  footer nav span h2 {
    font-size: 1.5rem;
  }

  footer nav span a {
    font-size: 1.1rem;
  }

  footer nav {
    justify-content: space-between;
    display: flex;
  }

  .social-networks h4 {
    font-size: 1.1rem;
  }

  .social-networks-icons {
    font-size: 1.7rem;
    padding: 4px;
  }

  .rigths {
    font-size: 1.2rem;
  }
}
