:root{
--oscuro: #2D3142;
--silver: #BFC0C0;
--white: #FFFFFF;
--orange: #EF8354;
--blue: #4F5D75;
--body-color: lightgray;
}
* {
    box-sizing: border-box;
}

/* Container General */

.aligner-container{
    /*border: #2D3142 solid .2rem;*/
    border: var(--oscuro) solid .2rem;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1.5rem;
}

body{
    background-color: var(--body-color);
    font-family: 'Roboto', 'Lato', 'Yanone', sans-serif;
}

/*Header-section*/

header {
    padding: 1rem ;
}

header .aligner-container{
    background-color:var(--oscuro) ;
}

header a {
    color:var(--white);
    text-decoration: none;
}

ul li {
    list-style: none;
}

.nav-1{
    text-align: center;
    padding: 1rem;
}


.browser-bar{
    margin: 1rem ;
}

.fa.fa-bars.burger{
    background-color: #03264c;
    font-size: 1.2rem;
    padding: 1rem ;
    margin: auto;
    border-radius: 1rem;
    color: #ffffff;
    text-align: center;
    display: block;
    max-width: 3rem;
}

/*
.user-options{
    display: none;
}*/

.log{
    max-width: 30%;
    text-align: right
}

.nav-2 ul{
    display: flex ;
    justify-content: space-around;
    padding-left: 0;
}

.nav-2 ul a {
    font-size: .7rem;
}

header a:hover {
    color:var(--orange);
}

/* Detalle del Producto */

section .product {
    background-color: white;
    padding: 1rem;
}

section .product div {
    margin-bottom: 1rem;
}

main section .product .product-detail {
    font-size: .8rem;
    display: block;
}

main section .product .product-detail img {
    width: 100%;
    border: black 1px solid;
    padding: 5px;
}

main section div .product-foot {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

main section div .product-foot .price-detail {
    width: 50%;
    font-size: 2rem;
    text-align: center;    
}

main section div .product-foot .discount-detail {
    width: 50%;
}

.price-detail {
    margin: 20px;
    font-size: 2rem;
    font-weight: bold;
    align-items: right;

}

.discount-detail {
    margin: 20px;
    font-size: 2rem;
    color: var(--orange);
    font-weight: bolder;
}

main section .product .product-features {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main section .product .product-features .feature {
    width: 100%;
    padding-left: 10px;
}

main section div label .quantity {
    width: 50%;
}

main section button {
    background-color:var(--blue);
    font-size: 18px;
    color: white;
    width: 50%;
    padding: .5rem;
    margin-left: 1rem;
    border-radius: .2rem;
}

main section button:hover{
    background-color: #394a96;
}

/*Footer*/

footer {
    padding: 1rem ;
}

footer .aligner-container{
    background-color:var(--white);
    color: #2a3446;
}

.footer-info span ul li a{
    list-style: none;
    text-decoration: none;
    color: #000000;
}

footer nav{
    justify-content: space-between;
    display: block; /*flex ;*/
}

footer span ul{
    padding-left: 0 ;
}

.about-us, .utility-info, .support {
    align-items: flex-start;
    width: 33%;
    font-size: 0.7rem;
    text-align: center;
}

.rigths{
    margin-top: 3rem;
    text-align: left;
    font-size: 0.8rem;
}

/*Medias-Quires*/

@media (min-width: 403px){
    .aligner-container .nav-2 ul li{
        font-size: .7rem;
    }

    main section button {
        width: 200px;
    }
    footer nav{
        justify-content: space-between;
        display: block ;
    }

}

/*@media (min-width: 580px) {
 /*  Agregar para que muestre dos columnas los botones comp perifericos gabinetes*/




@media (min-width:768px){
    h2 {
        font-size: 2rem;
    }

    footer span ul li {
        font-size: 1rem;
    }

    /* Detalle del Producto */
    main section .product .product-features .feature {
        width: 33%;
        padding: 0 1rem;
    }

    footer nav{
        justify-content: space-between;
        display: flex ;
    }

}

@media (min-width:992px){
    .fa.fa-bars.burger{
        display: none;
    }
    
    header, footer nav span ul li{
        font-size: 1.4rem;
    }

    header .aligner-container{
        display: flex;
        flex-wrap: wrap;
    }

    header .nav-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    header .aligner-container .nav-1 .logo{
        order: 0;
        width: 14rem;
    }

    .bvar-container{
        width: 40%;
    }

    .browser-bar{
        border-radius: 5px ;
        order: 1;
        width: 100%;
        margin: 0%;
    }
    .user-options{
        border:1px red solid;
        order: 2;
        width: 10%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .user-options a, .user-options a span{
        padding: 1rem;
        align-items:flex-end;
        right: 30px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .nav-2{
        display: block;
        width: 100%;
    }

    .nav-2 ul a {
        font-size: 1.5rem;
    }
    
    footer nav span h2{
        font-size: 2.5rem;
    }
    footer nav{
        justify-content: space-between;
        display: flex ;
    }
}

@media(min-width: 1200px){
    header, footer{
        max-height: 420px;

    }
    
    .user-options {
        width: 20%;
        flex:wrap;
        flex-direction: row;
        justify-content:center;
        align-items:baseline;
    }

    .browser-bar{
        order: 1;
        width: 25rem ;
    }
    
    header .aligner-container, main .aligner-container, footer .aligner-container{
        display: block;
        margin:auto;
        max-width: 1300px;
        font-size: 1.8rem;
    }

    footer nav span h2{
        font-size: 2.8rem
    }
    .rigths{
        font-size: 1.5rem;
        text-align: center;
    }
    footer nav{
        justify-content: space-between;
        display: flex ;
    }
}