:root{
--oscuro: #2D3142;
--silver: #BFC0C0;
--white: #FFFFFF;
--orange: #EF8354;
--blue: #4F5D75;
--body-color: lightgray;
}
* {
    box-sizing: border-box;
}

/* Container General */

.aligner-container{
    /*border: #2D3142 solid .2rem;*/
    border: var(--oscuro) solid .2rem;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1.5rem;
}

body{
    background-color: var(--body-color);
    font-family: 'Roboto', 'Lato', 'Yanone', sans-serif;
}

/*Header-section*/
header {
    padding: 1rem;
}

header .aligner-container{
    background-color:var(--oscuro) ;
    padding: 1rem;
    border: black 2px solid;
}

header a {
    color:var(--white);
    text-decoration: none;
}

header .aligner-container .nav-1 .user-options{
    display: flex;
    margin: auto;
    max-width: 60%;
    justify-content: space-around;
    padding: 2rem
}

ul li {
    list-style: none;
}

.nav-1{
    text-align: center;
    padding: 1rem;

}


.browser-bar{
    margin: 1rem ;
    border-radius: .3rem;
}

.fa.fa-bars.burger{
    background-color: #03264c;
    font-size: 1.2rem;
    padding: 1rem ;
    margin: auto;
    border-radius: 1rem;
    color: #ffffff;
    text-align: center;
    display: block;
    max-width: 3rem;
}

.log{
    max-width: 30%;
    text-align: right
}

.nav-2{
    display: none;
}

.nav-2 ul{
    display: flex ;
    justify-content: space-around;
    padding-left: 0;
}

.nav-2 ul a {
    font-size: 1rem;
}

header a:hover {
    color:var(--orange);
}

/* Detalle del Producto */

section .product {
    background-color: white;
    padding: 1rem;
}

section .product div {
    margin-bottom: 1rem;
}

main section .product .product-detail {
    font-size: .8rem;
    display: block;
}

main section .product .product-detail img {
    width: 100%;
    border: black 1px solid;
    padding: 5px;
}

main section div .product-foot {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

main section div .product-foot .price-detail {
    width: 50%;
    font-size: 2rem;
    text-align: center;    
}

main section div .product-foot .discount-detail {
    width: 50%;
}

.price-detail {
    margin: 20px;
    font-size: 2rem;
    font-weight: bolder;
    align-items: right;
}

.discount-detail {
    margin: 20px;
    font-size: 2rem;
    color: var(--orange);
    font-weight: bolder;
}

main section .product .product-features {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main section .product .product-features .feature {
    width: 100%;
    padding-left: 10px;
}

main section div label .quantity {
    width: 50%;
}

main section button {
    background-color:var(--blue);
    font-size: 18px;
    color: white;
    width: 50%;
    padding: .5rem;
    margin-left: 1rem;
    border-radius: .2rem;
}

main section button:hover{
    background-color: #394a96;
}

/*Footer*/

footer {
    padding: 1rem ;
}

footer .aligner-container{
    background-color:var(--white);
    color: #2a3446;
}

.footer-info span ul li a{
    list-style: none;
    text-decoration: none;
    color: #000000;
}

footer nav{
    justify-content: space-between;
    display: block; /*flex ;*/
}

footer span ul{
    padding-left: 0 ;
}

.about-us, .utility-info, .support, .social-networks {
    width: 100%;
    font-size: .9rem;
    text-align: center;
}

.social-networks {
    padding-top: 1rem;
}

.social-networks-icons {
    font-size: 1.5rem;
    padding: 4px;
    color: var(--oscuro);
}

.rigths{
    margin-top: 3rem;
    text-align: center;
    font-size: .8rem;
}

/*Media queries*/

@media (min-width: 403px){
    .aligner-container .nav-2 ul li{
        font-size: .7rem;
    }

    main section button {
        width: 200px;
    }
}

 @media (min-width: 576px) {

    .nav-2 {
        display: block ;
    }

    .nav-2 {
        font-size: .7rem;
    }

    .fa.fa-bars.burger{
        display: none;
    }

    footer nav{
        justify-content: space-between;
        display: flex ;
        padding-top: 50px;
    }

    .social-networks {
        padding-top: 0;
    }
    
    .social-networks-icons {
        font-size: 1.1rem;
    }

    footer span h2 {
        font-size: 1rem;
    }

    footer span ul li {
        font-size: .7rem;
    }


 }

  /*  Agregar para que muestre dos columnas los botones comp perifericos gabinetes*/

@media (min-width:768px){
    h2 {
        font-size: 2rem;
    }
    /* Detalle del Producto */
    main section .product .product-features .feature {
        width: 33%;
        padding: 0 1rem;
    }

    main section .product {
        display: flex;
        flex-wrap: wrap;
    }

    main section div .product-detail {
        width: 50%;
        font-size: .8rem;
    }

    main section .product-foot {
        width: 50%;
        font-size: .8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* Footer */
    .social-networks-icons {
        font-size: 1rem;
        padding: 4px;
        color: var(--oscuro);
    }

    footer span h2 {
        font-size: 1rem;
    }

    footer span ul li a{
        font-size: 1rem;
    }

    .social-networks h4 {
        font-size: 1rem;
    }

    .social-networks-icons {
        font-size: 1.3rem;
        padding: 4px;
        color: var(--oscuro);
    }

}

@media (min-width:992px){
    .fa.fa-bars.burger{
        display: none;
    }
    
    header, footer nav span ul li{
        font-size: 1.4rem;
    }

    header .aligner-container{
        display: flex;
        flex-wrap: wrap;
    }

    header .nav-1{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
        width: 100%;
    }
    header .aligner-container .nav-1 .logo{
        order: 0;
        width: 30%;
    }

    .bvar-container{
        width: 40%;
    }
    .browser-bar{
        border-radius: .5rem ;
        font-size: 1.5rem;
        order: 1;
        width: 80%;
        margin: 0%;
    }
    .user-options{
        order: 2;
        width: 30%;
        padding: 0.5rem;
        display: flex;
        /**/
        flex:wrap;
        justify-content:space-around;
        align-items:baseline;
    }

    .user-options a, .user-options a span{
        padding: 1rem;
        align-items:flex-end;
        right: 30px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .nav-2{
        display: block;
        width: 100%;
    }

    .nav-2 ul a {
        font-size: 1.5rem;
    }    
}

@media(min-width: 1200px){
    header, footer{
        max-height: 420px;

    }
    
    .user-options {
        flex:wrap;
        flex-direction: row;
        justify-content:space-around;
        align-items:baseline;
    }

    
    header .aligner-container, main .aligner-container, footer .aligner-container{
        display: block;
        margin:auto;
        max-width: 1300px;
        font-size: 1.8rem;
    }

    footer nav span h2{
        font-size: 1.5rem
    }

    footer nav span a {
        font-size: 1.1rem;
    }
    
    footer nav{
        justify-content: space-between;
        display: flex ;
    }

    .social-networks h4 {
        font-size: 1.1rem;
    }

    .social-networks-icons {
        font-size: 1.7rem;
        padding: 4px;
        color: var(--oscuro);
    }

    .rigths {
        font-size: 1.2rem;
    }

}