<footer>
    <div class="aligner-container">
        <nav class="footer-info">
            <span class="about-us">
                <h2>Nosotros</h2>
                <ul>
                    <li><a href="#">Av. Siempre viva 742 - Bs. As.</a></li>
                    <li><a href="#">+54 9 11 2233-4455</a></li>
                </ul>
            </span>
            <span class="utility-info">
                <h2>Información útil</h2>
                <ul>
                    <li><a href="#">¿Qué es Geek Studio?</a></li>
                    <li><a href="#">Centro de ayuda</a></li>
                    <li><a href="#">Medios de pago</a></li>
                    <li><a href="#">Formas de envio</a></li>
                    <li><a href="#">Puntos de venta</a></li>
                </ul>
            </span>
            <span class="support">
                <h2>Soporte</h2>
                <ul>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Garantías</a></li>
                </ul>
            </span>
        </nav>
        <div>
            <p class="rigths">GeekStudio.com Copyright © 2020 GeekStudio Inc. All rights reverved.</p>
        </div>
    </div>
</footer>

<!-- <%= include('partials/footer') %>  -->