<footer>
        <nav class="footer-info">
            <span class="about-us">
                <h2>Nosotros</h2>
                <ul>
                    <li><a href="#">Av. Siempre viva 742 - Bs. As.</a></li>
                    <li><a href="#">+54 9 11 2233-4455</a></li>
                </ul>
            </span>
            <span class="utility-info">
                <h2>Información útil</h2>
                <ul>
                    <li><a href="#">¿Qué es Geek Studio?</a></li>
                    <li><a href="#">Centro de ayuda</a></li>
                    <li><a href="#">Medios de pago</a></li>
                    <li><a href="#">Formas de envio</a></li>
                    <li><a href="#">Puntos de venta</a></li>
                </ul>
            </span>
            <span class="support">
                <h2>Soporte</h2>
                <ul>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Garantías</a></li>
                </ul>
            </span>
            <div class="social-networks">
                <h4>Seguinos en nuestras redes</h4>
                    <div>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook social-networks-icons"></i></a>
                        <a href="https://www.instagram.com/geekstudio14/"><i class="fab fa-instagram social-networks-icons"></i></a>
                        <a href="https://www.twitter.com/"><i class="fab fa-twitter social-networks-icons"></i></a>
                        <a href="https://www.youtube.com/"><i class="fab fa-youtube social-networks-icons"></i></a>
                    </div>
            </div>
        </nav>
        <div>
            <p class="rigths">GeekStudio.com Copyright © 2020 GeekStudio Inc. All rights reverved.</p>
        </div>
    <!-- Bootstrap JS -->
<script src="/js/bootstrap.min.js"></script>
</footer>