<header>
    <div class="aligner-container">
        <nav class="nav-1">
            <div class="logo"><a href="/"><img class="logo-ref" src="/img/logo.png"></a></div>
            <div class="bvar-container">
                <input type="search" class="browser-bar" placeholder="Buscar productos, marcas...">
            </div>
            <% if (locals.isLogged) { %>
                <nav class="user-options">
                    <img src = "/img/users/<%= locals.userLogged.avatar %>"  width="40" style="border-radius: 100%"> 
                    <span><a href="/users/login" class="log"><i class="fas fa-user-circle"></i></a></span>
                    <span><a href="/productos/favoritos"><i class="far fa-heart"></i></a></span>
                    <span><a href="/productos/carro"><i class="fas fa-shopping-cart"></i></a></span>
                </nav>
            <% } else { %>
                    <nav class="user-options">
                    <span><a href="/users/login" class="log"><i class="fas fa-user-circle"></i></a></span>
                    <span><a href="/productos/favoritos"><i class="far fa-heart"></i></a></span>
                    <span><a href="/productos/carro"><i class="fas fa-shopping-cart"></i></a></span>
                </nav>
            <% } %>

            <i id="burger" class="fa fa-bars burger"></i>
        </nav>
        <nav class="nav-2">
            <ul>
            <li><a href="/productos">Componentes</a></li>
            <li><a href="/productos">Periféricos</a></li>
            <li><a href="/productos">PC Armadas</a></li>
            <li><a href="/productos/crear">Vender</a></li>
            <li><a href="/productos">Soporte</a></li>
            </ul>
        </nav>
    </div>
</header>

