<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geek Studio </title>
    <script src="https://kit.fontawesome.com/cac22ebe42.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/img/shortcut-icon.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Agrego KE 200220 Para usar bootstrap para las validaciones inicialmente-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <link rel="stylesheet" href="/css/productscrud.css">REVISAR PORQUE ROMPE LA HOME UN POCO -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>