/*
Mobile first.
Arranco trabajando en una resolución de 576px
Las medidas estándares por ahora son: 576, 768, 992, 1200
*/

* {
    box-sizing: border-box;
}

body{
    margin: 2rem;
}

header{
    background-color: yellowgreen;
    padding: 1rem ;
}

a {
    color: black;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.nav-1{
    text-align: center;
    padding: 1rem;
}


.browser-bar{
    margin: 1rem ;
}

.fa.fa-bars.burger{
    background-color: #03264c;
    padding: 1rem ;
    margin: auto;
    border-radius: 1rem;
    color: #ffffff;
    text-align: center;
    display: block;
    max-width: 3rem;
}

.user-options{
    /*Ya esta bien configurado para cuando se le aplique "display: flex"
    en la próxima media*/
    display: none;
    justify-content: space-around;
    border: black 0.2rem solid;
    padding: 0.5rem;
}

.nav-2 ul{
    display: flex ;
    justify-content: space-around;
}

footer {
    padding: 1rem ;
    background-color: aqua ;
    display: flex;
    justify-content: space-between;
}

footer span ul{
    padding-left: 0 ;
}