/*
Mobile first.
Arranco trabajando en una resolución de 576px
Las medidas estándares por ahora son: 576, 768, 992, 1200
*/

* {
    box-sizing: border-box;
}

body{
    background-color: burlywood;
}

header{
    background-color: yellowgreen;
    padding: 1rem ;
}

a {
    color: black;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.nav-1{
    text-align: center;
    padding: 1rem;
}


.browser-bar{
    margin: 1rem ;
}

.fa.fa-bars.burger{
    background-color: #03264c;
    padding: 1rem ;
    margin: auto;
    border-radius: 1rem;
    color: #ffffff;
    text-align: center;
    display: block;
    max-width: 3rem;
}

.user-options{
    display: none;
}

.log{
    max-width: 30%;
    text-align: right
}

.nav-2 ul{
    display: flex ;
    justify-content: space-around;
}

footer{
    background-color: aqua ;
    padding: 1rem ;
}

footer nav{
    justify-content: space-between;
    display: flex ;
}

footer span ul{
    padding-left: 0 ;
}

.about-us, .utility-info, .support {
    align-items: flex-start;
    width: 33%;
    font-size: 0.7rem;
    text-align: center;
}

.rigths{
    margin-top: 3rem;
    text-align: left;
    font-size: 0.8rem;
}

@media (min-width:768px){
    h2 {
        font-size: 2rem;
    }
    footer span ul li {
        font-size: 1rem;
    }
}

@media (min-width:992px){
    .fa.fa-bars.burger{
        display: none;
    }
    
    header, footer nav span ul li{
        font-size: 1.6rem;
    }

    header{
        display: flex;
        flex-wrap: wrap;
    }

    header .nav-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .logo{
        order: 0;
        width: 35%;
    }
    .browser-bar{
        order: 1;
        width: 18rem;
    }
    .user-options{
        order: 2;
        width: 30%;
        padding-left: 2rem ;
        align-items: flex-end;
    }
    .user-options{
        display: flex ;
        justify-content: space-between;
        border: transparent 0.2rem solid;
        padding: 0.5rem;
    }

    .user-options a, .user-options a span{
        padding: 1rem;
        width: 40%;
        align-items: center;
        display: flex;
        text-align: center;
    }

    .nav-2{
        display: block;
        width: 100%;
    }
    
    footer nav span h2{
        font-size: 2.5rem;
    }
}

@media(min-width: 1200px){
    .user-options{
        width: 40%;
        align-items: center;
    }
    
    header, footer{
        font-size: 1.8rem;
    }

    footer nav span h2{
        font-size: 2.8rem
    }
    .rigths{
        font-size: 1.5rem;
        text-align: center;
    }
}