<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
    <div class="aligner-container">
        <div class= "article-container"> 
            <form class="form-article" action="">
                <h1>Alta Producto </h1>
                <div class="textbox-article">
                    <label class="label-article">Articulo: <input type="number" placeholder="Cód. Articulo " name="article-code" required /></label>
                </div>

                <div class="textbox-article">
                    <label class="label-article">Nombre:<input type="text" placeholder="Nombre:" name="article-name" required /></label>
                </div>
                
                <div class="textbox-article-desc">
                    <label class="label-article">Descripcion:<input type="textarea" placeholder="Descripción:" name="article-description" required /></label>
                </div>

                <div class="textbox-article">
                    <label class="label-article">Precio: <input type="number" placeholder="Precio" name="article-price" required/></label>
                </div>
                
                <div class="check-article">
                    <label><input type="radio" placeholder="Menu" name="article-menu" required />Componente</label>
                    <label><input type="radio" placeholder="Menu" name="article-menu" required />Periferico</label>
                    <label><input type="radio" placeholder="Menu" name="article-menu" required />PC Armada</label>
                    <label><input type="radio" placeholder="Menu" name="article-menu" required />Notebook</label>
                </div>
                <br>      
                
                <label class="label-article" for="article-category"> Categoria: 
                    <select id="article-category" order>
                        <option> Motherboards </option>
                        <option> Memorias </option>
                        <option> Procesadores </option>
                        <option> Almacenamiento </option>
                        <option> Perifericos </option>
                        <option> Pantallas </option>
                        <option> Placas de video </option>
                        <option> Gabinetes </option>
                        <option> Oficina </option>
                    </select>
                </label>


                <div class="textbox-article">
                    <label class="label-article">Seleccionar Imagen<input class="btn-article-img" type="submit" value="..." name="article-img" ></label>
                </div>
                        
                <input class="btn-article" type="submit" value="Aceptar" >
                <input class="btn-article" type="reset"  value="Cancelar" >

            </form>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>