<% productos.forEach(elemento =>{%>
<li>
    <article>
        <span class="chart-article">
            <img class="chart-article-image"src=<%= elemento.img %> >
            <div class="article-description"><%= elemento.name %> </div>
        </span>
        <span>
            <div>
                Precio
            </div>
            <div>
                <%= elemento.price %> 
            </div>
        </span>
            <span>
                <div>
                    Subtotal
                </div>
                <div>
                    <%= elemento.price %> 
                </div>
            </span>
            <i class="fas fa-trash"></i>
    </article>
</li>
<%}) %> 
