<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
    <div class="aligner-container">
        <div class= "login-container"> 
            <form class="form-login" action="/users/create" method="POST" >
                <h1> Registrarse </h1>
                <% if(locals.errors){%> 
                    <p>Hay errores</p>
                <%} %>
                <div class="textbox-login">
                    <input type="text" placeholder="Nombre" name="first_name" />*
                </div>
                 
                <div class="textbox-login">
                    <input type="text" placeholder="Apellido" name="surname"  />*
                </div>
                
                <div class="textbox-login">
                    <input type="email" placeholder="E-Mail" name="email"  />*
                </div>

                <div class="textbox-login">
                    <input type="text" placeholder="Telefono" name="telephone" />
                </div>

                <div class="textbox-login">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Contraseña" name="pass-1" />*
                </div>

                <div class="textbox-login">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Repetir Contraseña" name="pass-2" />*
                </div>
            
                <input class="btn-login" type="submit" value="Registrarse" >

            </form>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>