<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
    <div class="aligner-container">
        <div class= "login-container"> 
            <form class="form-login" action="/users/" method="POST" >
                <h1> Registrarse </h1>
                <div class="textbox-login">
                    <input type="text" placeholder="Nombre" name="name" required />*
                </div>
                
                <div class="textbox-login">
                    <input type="text" placeholder="Apellido" name="surname" required />*
                </div>
                
                <div class="textbox-login">
                    <input type="email" placeholder="E-Mail" name="" required />*
                </div>

                <div class="textbox-login">
                    <input type="text" placeholder="Telefono" name="telephone" />
                </div>

                <div class="textbox-login">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Contraseña" name="pass-1" required/>*
                </div>

                <div class="textbox-login">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Repetir Contraseña" name="pass-2" required/>*
                </div>
            
                <input class="btn-login" type="submit" value="Registrarse" >

            </form>
        </div>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>
</html>