<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/head') %>
    <%- include('partials/header') %> 
    
    <div class="bad-request"> 
        <h1 class=''>Ha ocurrido un error con la petición al servidor</h1>
        
        <div>
            Pruebe de nuevo más tarde
        </div>
        
        <h2><a href="/"> Volver a la home</a></h2>
    </div>
    <%- include('partials/footer') %> 
</body>
</html>