<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <script src="https://kit.fontawesome.com/cac22ebe42.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/img/shortcut-icon.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/carrito.css">
</head>
<body>
    <header>
        <div class="aligner-container">
            <nav class="nav-1">
                <div class="logo"><a href="http://localhost:3000/"><img src="/img/logo.jpg"></a></div>
                <div class="bvar-container">
                    <input type="search" class="browser-bar" placeholder="Buscar">
                </div>
                <i id="burger" class="fa fa-bars burger"></i>
                <nav class="user-options">
                    <span><a href="http://localhost:3000/login" class="log"><i class="fas fa-user-circle"></i>Iniciar sesión</a><a href="http://localhost:3000/registro">Registrarse</a></span>
                    <span><a href="#"><i class="far fa-heart"></i> Mis favoritos<!-- <i class="fas fa-heart"></i> corazon lleno !--></a></span>
                    <span><a href="http://localhost:3000/carro"><i class="fas fa-shopping-cart"></i>Mi carrito</a></span>
                </nav>
            </nav>
            <nav class="nav-2">
                <ul>
                    <li><a href="http://localhost:3000/productos">Componentes</a></li>
                    <li><a href="http://localhost:3000/productos">Periféricos</a></li>
                    <li><a href="http://localhost:3000/productos">PC Armadas</a></li>
                    <li><a href="http://localhost:3000/productos">Nootebooks</a></li>
                    <li><a href="http://localhost:3000/productos">Soporte</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="aligner-container">
            <h1>Carrito de compras</h1>
            <section>
                <ul>
                    <li>
                        <article>
                            <span class="cart-article">
                                <img class="cart-article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_18915_Mother_Gigabyte_Z490_AORUS_MASTER_10th_Gen_Socket_1200_9949e7d4-grn.jpg" alt="GeForce RTX 3090">
                                <div class="article-description">Gigabyte Z490 AORUS MASTER</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$50.070
                                </div>
                            </span>
                            <form action="" method="" >
                                <select name="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </form>
                                <span>
                                    <div>
                                        Subtotal
                                    </div>
                                    <div>
                                        $50.070
                                    </div>
                                </span>
                                <i class="fas fa-trash"></i>
                        </article>
                    </li>
                    <li>
                        <article>
                            <span class="cart-article">
                                <img class="cart-article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_15256_Mother_Gigabyte_X570_AORUS_MASTER_AM4_2b2280f9-grn.jpg" alt="GeForce RTX 3090">
                                <div class="article-description">Gigabyte X570 AORUS MASTER</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$49.200</div>
                            </span>
                            <form action="" method="" >
                                <select name="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </form>
                                <span>
                                    <div>
                                        Subtotal
                                    </div>
                                    <div>
                                        $49.200
                                    </div>
                                </span>
                                <i class="fas fa-trash"></i>
                        </article>
                    </li>
                    <li>
                        <article>
                            <span class="cart-article">
                                <img class="cart-article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_20792_Procesador_Intel_Core_i9_10900KA_5.3GHz_Turbo_1200_Avengers_Edition_b7c97cd1-grn.jpg" alt="GeForce RTX 3090">
                                <div class="article-description">Intel Core i9 10900KA</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$62.650</div>
                            </span>
                            <form action="" method="" >
                                <select name="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </form>
                                <span>
                                    <div>
                                        Subtotal
                                    </div>
                                    <div>
                                        $62.650
                                    </div>
                                </span>
                                <i class="fas fa-trash"></i>
                        </article>
                    </li>
                    <li>
                        <article>
                            <span class="cart-article">
                                <img class="cart-article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_19123_Procesador_AMD_RYZEN_9_3950X_4.7GHz_Turbo_AM4_eb125692-grn.jpg" alt="GeForce RTX 3090">
                                <div class="article-description">AMD RYZEN 9 3950X</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$88.470</div>
                            </span>
                            <form action="" method="" >
                                <select name="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </form>
                                <span>
                                    <div>
                                        Subtotal
                                    </div>
                                    <div>
                                        $88.470
                                    </div>
                                </span>
                                <i class="fas fa-trash"></i>
                        </article>
                    </li>
                    <li>
                        <article>
                            <span class="cart-article">
                                <img class="cart-article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_23315_Placa_de_Video_EVGA_GeForce_RTX_3090_24GB_GDDR6X_FTW3_ULTRA_ICX3_ARGB_a6773de3-grn.jpg" alt="GeForce RTX 3090">
                                <div class="article-description">GeForce GTX 3090</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$296.500</div>
                            </span>
                            <form action="" method="" >
                                <select name="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </form>
                                <span>
                                    <div>
                                        Subtotal
                                    </div>
                                    <div>
                                        $296.500
                                    </div>
                                </span>
                                <i class="fas fa-trash"></i>
                        </article>
                    </li>
                    <li>
                        <article>
                            <span class="cart-article">
                                <img class="cart-article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_23461_Placa_de_Video_Asrock_Radeon_RX_6900_XT_16GB_GDDR6_PCIe_4.0_e2268b55-grn.jpg" alt="GeForce RTX 3090">
                                <div class="article-description">Asrock Radeon RX 6900</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$188.210</div>
                            </span>
                            <form action="" method="" >
                                <select name="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </form>
                                <span>
                                    <div>
                                        Subtotal
                                    </div>
                                    <div>
                                        $188.210
                                    </div>
                                </span>
                                <i class="fas fa-trash"></i>
                        </article>
                    </li>
                </ul>
                <article class="purchase-summary">
                    <h2>Resumén de compra</h2>
                    <div>Importe total: $735.100</div>
                    <button type="submit">Comprar</button>
                </article>
            </section>
        </div>
    </main>
    <footer>
        <div class="aligner-container">
            <nav class="footer-info">
                <span class="about-us">
                    <h2>Nosotros</h2>
                    <ul>
                        <li><a href="#">Av. Siempre viva 742 - Bs. As.</a></li>
                        <li><a href="#">+54 9 11 2233-4455</a></li>
                    </ul>
                </span>
                <span class="utility-info">
                    <h2>Información útil</h2>
                    <ul>
                        <li><a href="#">¿Qué es Geek Studio?</a></li>
                        <li><a href="#">Centro de ayuda</a></li>
                        <li><a href="#">Medios de pago</a></li>
                        <li><a href="#">Formas de envio</a></li>
                        <li><a href="#">Puntos de venta</a></li>
                    </ul>
                </span>
                <span class="support">
                    <h2>Soporte</h2>
                    <ul>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Garantías</a></li>
                    </ul>
                </span>
            </nav>
            <div>
                <p class="rigths">GeekStudio.com Copyright © 2020 GeekStudio Inc. All rights reverved.</p>
            </div>
        </div>
    </footer>
</body>
</html>