<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
 
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="aligner-container">
            <h1>Carrito de compras</h1>
            <section>
                <ul>
                    <%- include('./partials/productoEnCarro.ejs') %> 
                </ul>
                <div class="user-buttons">
                    <article class="purchase-option">
                        <h2>Resumén de compra</h2>
                        <div>Importe total: $735.100</div>
                        <button type="submit">Comprar</button>
                    </article>
                    <div class="secondary-options">
                        <div>
                            <a href="/productos">Continuar comprando</a>
                        </div>
                        <div>
                            <a href="/#">Formas de pago</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>