<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
 
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="aligner-container chart">
            <h1 class="chart-title">Carrito de compras</h1>
            <section>
                <ul class="chart-list lista-carrito " id="lista-carrito">
                  
                </ul>
                <div class="user-buttons">
                    <article class="purchase-option">
                        <h2>Resumén de compra</h2>
                        <div>Importe total: <b id="final-price"></b></div>
                        <button type="submit">Comprar</button>
                    </article>
                    <div class="secondary-options">
                        <div>
                            <a href="/productos">Continuar comprando</a>
                        </div>
                        <div>
                            <a href="/productos/carro" id="vaciar-carrito">Vaciar carrito</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- <script src="/js/carrito.js"></script> -->
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/show-carrito.js"></script>
</body>
</html>