<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
 
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="aligner-container">
            <h1>Carrito de compras</h1>
            <section>
                <ul>
                    <li>
                        <article>
                            <span class="cart-article">
                                <img class="cart-article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_18915_Mother_Gigabyte_Z490_AORUS_MASTER_10th_Gen_Socket_1200_9949e7d4-grn.jpg" alt="GeForce RTX 3090">
                                <div class="article-description">Gigabyte Z490 AORUS MASTER</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$50.070
                                </div>
                            </span>
                                <span>
                                    <div>
                                        Subtotal
                                    </div>
                                    <div>
                                        $50.070
                                    </div>
                                </span>
                                <i class="fas fa-trash"></i>
                        </article>
                    </li>
                    <li>
                        <article>
                            <span class="cart-article">
                                <img class="cart-article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_15256_Mother_Gigabyte_X570_AORUS_MASTER_AM4_2b2280f9-grn.jpg" alt="GeForce RTX 3090">
                                <div class="article-description">Gigabyte X570 AORUS MASTER</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$49.200</div>
                            </span>
                                <span>
                                    <div>
                                        Subtotal
                                    </div>
                                    <div>
                                        $49.200
                                    </div>
                                </span>
                                <i class="fas fa-trash"></i>
                        </article>
                    </li>
                    <li>
                        <article>
                            <span class="cart-article">
                                <img class="cart-article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_20792_Procesador_Intel_Core_i9_10900KA_5.3GHz_Turbo_1200_Avengers_Edition_b7c97cd1-grn.jpg" alt="GeForce RTX 3090">
                                <div class="article-description">Intel Core i9 10900KA</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$62.650</div>
                            </span>
                                <span>
                                    <div>
                                        Subtotal
                                    </div>
                                    <div>
                                        $62.650
                                    </div>
                                </span>
                                <i class="fas fa-trash"></i>
                        </article>
                    </li>
                    <li>
                        <article>
                            <span class="cart-article">
                                <img class="cart-article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_19123_Procesador_AMD_RYZEN_9_3950X_4.7GHz_Turbo_AM4_eb125692-grn.jpg" alt="GeForce RTX 3090">
                                <div class="article-description">AMD RYZEN 9 3950X</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$88.470</div>
                            </span>
                                <span>
                                    <div>
                                        Subtotal
                                    </div>
                                    <div>
                                        $88.470
                                    </div>
                                </span>
                                <i class="fas fa-trash"></i>
                        </article>
                    </li>
                    <li>
                        <article>
                            <span class="cart-article">
                                <img class="cart-article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_23315_Placa_de_Video_EVGA_GeForce_RTX_3090_24GB_GDDR6X_FTW3_ULTRA_ICX3_ARGB_a6773de3-grn.jpg" alt="GeForce RTX 3090">
                                <div class="article-description">GeForce GTX 3090</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$296.500</div>
                            </span>
                                <span>
                                    <div>
                                        Subtotal
                                    </div>
                                    <div>
                                        $296.500
                                    </div>
                                </span>
                                <i class="fas fa-trash"></i>
                        </article>
                    </li>
                    <li>
                        <article>
                            <span class="cart-article">
                                <img class="cart-article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_23461_Placa_de_Video_Asrock_Radeon_RX_6900_XT_16GB_GDDR6_PCIe_4.0_e2268b55-grn.jpg" alt="GeForce RTX 3090">
                                <div class="article-description">Asrock Radeon RX 6900</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$188.210</div>
                            </span>
                                <span>
                                    <div>
                                        Subtotal
                                    </div>
                                    <div>
                                        $188.210
                                    </div>
                                </span>
                                <i class="fas fa-trash"></i>
                        </article>
                    </li>
                </ul>
                <div class="user-buttons">
                    <article class="purchase-option">
                        <h2>Resumén de compra</h2>
                        <div>Importe total: $735.100</div>
                        <button type="submit">Comprar</button>
                    </article>
                    <div class="secondary-options">
                        <div>
                            <a href="/productos">Continuar comprando</a>
                        </div>
                        <div>
                            <a href="/#">Formas de pago</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>