<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <script src="/js/html2pdf.bundle.min.js"></script>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="aligner-container chart">
            <h1 class="chart-title">Carrito de compras</h1>
            <section id="chart-section">
                <ul class="chart-list lista-carrito " id="lista-carrito">
                  
                </ul>
                <div class="user-buttons">
                    <article class="purchase-option">
                        <h2>Resumén de compra</h2>
                        <div>Importe total: <b id="final-price"></b></div>
                        <button type="submit" id="presupuesto">Generar presupuesto</button>
                    </article>
                    <div class="secondary-options">
                        <div>
                            <a href="/productos">Continuar comprando</a>
                        </div>
                        <div>
                            <a href="/productos/carro" id="vaciar-carrito">Vaciar carrito</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        <div class="go-top-container">
            <div class="go-top-button">
              <i class="fas fa-chevron-up"></i>
            </div>
          </div>

          <script src="/js/gotop.js"></script>
          <script src="/js/budget.js"></script>

    </main>
    <%- include('./partials/footer.ejs') %>
    <!-- <script src="/js/show-carrito.js"></script> -->
    <script src="/js/fullChart.js"></script>
</body>
</html>