<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/carro-pdf.css">
    <title>Presupuesto</title>    
</head>
<body>
    <main>

        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>                        
                      <th><img src="/img/logo.png" width="100" height="100"></th>
                      <th><h1>Presupuesto Geek Studio</h1></th>
                    </tr>    
            </table>

            <div class="pdf-table">
              <div class="pdf-column"> Imagen </div>
              <div class="pdf-column"> Producto </div>
              <div class="pdf-column"> Precio </div>

              <div class="lista-presupuesto" id="lista-presupuesto">

              </div>

            </div>
                <div>Importe total: <b id="final-price" class="final-price"></b></div>
        </div> 
    </main>
    <script src="/js/carroPdf.js"></script>
</body>
</html>