<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="aligner-container">
            <div class="product">
                <div class="product-detail">
                    <h2> Microprocesador - Micro AMD (FM2+) Apu A6-7480 3.8 Ghz</h2>
                    <br>
                    <img src="../img/detalle/mother.jpg" alt="Imagen del producto">
                </div>
                <div class="product-foot">
                    <div class="price-detail">
                        $4.298,39
                    </div> 
                    <div class="discount-detail">
                        -30%
                    </div>
                </div>
                <div class="product-features">
                    <div class="feature">
                        <h3>General</h3>
                        <hr color="green" size=2 width="99%">                
                            <strong>Modelo</strong>   <span>Micro AMD APU A6-7480 3.8 Ghz</span> 
                            <br>
                            <strong>Familia</strong> <span>AMD A Series</span>
                            <br>
                            <strong>Nucleos</strong> <span>2</span>
                            <br>
                            <strong>Hilos</strong> <span>2</span>
                            <br>
                            <strong>Frecuencia</strong> <span>3.5 GHz</span>
                            <br>
                            <strong>Frecuencia Turbo</strong>  <span>3.8 GHz</span>
                            <br>
                            <strong>Proceso De Fabricacion</strong> <span>28 Nm</span>
                            <br>
                            <strong>Grafica Integrada</strong> <span>AMD Radeon R5</span>
                            <br>
                            <strong>Socket</strong> <span>FM2+</span>
                    </div>
                    <div class="feature">                 
                        <h3>Coolers Y Disipadores</h3>
                        <hr color="green" size=2 width="100%">
                            <strong>Incluye Cooler CPU</strong>   <span>Si</span> 
                            <br>
                            <strong>TDP</strong> <span>65W</span>
                            <br>
                            <strong>Desbloqueado - Overclockeable</strong> <span>No</span>
                    </div>
                    <div class="feature">
                            <h3>Memoria</h3>
                                <hr color="green" size=2 width="100%">            
                                    <strong>L1</strong>   <span>256 KB</span> 
                                    <br>
                                    <strong>L2</strong> <span>1 MB</span>
                                    <br>
                                    <strong>L3</strong> <span>No</span>
                    </div>
                </div>
                <div>
                    <label>Cantidad:</label>
                    <input type="number" class="quantity"> <i class="fas fa-shopping-cart"></i>
                </div>
                <div>
                    <button class="buy-detail">Comprar ahora</button>
                </div>

            </div>

        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>