<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="aligner-container">
            <div class="product">
                <div class="title-detail">
                    <h2>Motherboard Asrock H310CM HDV 1151</h2>
                </div>
                <div class="product-detail">
                    <div>
                        <img class="img-main" src="../img/detalle/mother.jpg" alt="Imagen del producto">
                    </div>
                </div>
                <div class="product-price-and-shipping">
                    <div class="price-discount">
                        <div class="price-detail">
                            $4.298,39
                        </div> 
                        <div class="discount-detail">
                            -30%
                        </div>
                    </div> 
                    
                    <div class="ship-container">
                        <div class="info-ficha top-file">
                                <div class="img-ship">
                                    <img src="../img/detalle/icono-ahora-12.png">
                                </div> 
                                <div class="ship-text">
                                    <p>12 cuotas sin interés de $358.20</p> 
                                    <div>
                                        <a class="links-ship" href="">Ver cuotas</a>
                                    </div>
                                </div>
                        </div>
                        <div class="info-ficha stock">
                            <div class="icons-ship">
                                <i class="far fa-check-circle green"></i>
                            </div> 
                            <div class="ship-text">
                                <p class="stock">STOCK DISPONIBLE</p> 
                            </div>
                        </div>
                        <div class="info-ficha">
                            <div>
                                <img class="img-store" src="https://cdn.jsdelivr.net/gh/persano/bannersmaximus/MaximusStore.svg">
                            </div> 
                            <div class="retiro-text">
                                <span>Retiro en Tienda</span> <span class="green">¡GRATIS!</span>
                                <div>
                                    <P>Belgrano (CABA)</P>
                                </div>
                            </div>
                        </div>
                        <div class="info-ficha">
                            <div class="truck-ship">
                                <i class="fas fa-truck"></i>
                            </div> 
                            <div class="retiro-text">
                                <span>Envios CABA</span> <span class="green">¡GRATIS!</span>
                                <div>
                                    <P>A toda Capital Federal</P>
                                </div>
                            </div>
                        </div>
                        <div class="info-ficha ship-country">
                            <div class="truck-ship">
                                <i class="fas fa-truck"></i>
                            </div> 
                            <div class="retiro-text">
                                <span>Envios a todo el país</span>
                                <div>
                                    <a class="links-ship" href="">Ver costos de envío</a>
                                </div>
                            </div>
                        </div>
                        <div class="info-ficha">
                            <div class="warranty">
                                <i class="fas fa-shield-alt"></i>
                            </div> 
                            <div class="warranty-text">
                                <span>GARANTÍA</span>
                                <div>
                                    <p>180 días</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="div-quantity">                 
                    <div class="cantidad">
                        <input min="1" max="10" type="number" value="1" id="prodcantidad"> 
                    </div>
                    <div>
                        <button  class="div-button">Añadir al carrito</button>
                    </div>
                </div>

                <div class="product-features">
                    <div class="feature">
                        <h3>General</h3>
                        <hr color="#BFC0C0" size=2 width="99%">                
                            <strong>Modelo</strong>   <span>Micro AMD APU A6-7480 3.8 Ghz</span> 
                            <br>
                            <strong>Familia</strong> <span>AMD A Series</span>
                            <br>
                            <strong>Nucleos</strong> <span>2</span>
                            <br>
                            <strong>Hilos</strong> <span>2</span>
                            <br>
                            <strong>Frecuencia</strong> <span>3.5 GHz</span>
                            <br>
                            <strong>Frecuencia Turbo</strong>  <span>3.8 GHz</span>
                            <br>
                            <strong>Proceso De Fabricacion</strong> <span>28 Nm</span>
                            <br>
                            <strong>Grafica Integrada</strong> <span>AMD Radeon R5</span>
                            <br>
                            <strong>Socket</strong> <span>FM2+</span>
                    </div>
                    <div class="feature">                 
                        <h3>Coolers Y Disipadores</h3>
                        <hr color="#BFC0C0" size=2 width="100%">
                            <strong>Incluye Cooler CPU</strong>   <span>Si</span> 
                            <br>
                            <strong>TDP</strong> <span>65W</span>
                            <br>
                            <strong>Desbloqueado - Overclockeable</strong> <span>No</span>
                    </div>
                    <div class="feature">
                            <h3>Memoria</h3>
                                <hr color="#BFC0C0" size=2 width="100%">            
                                    <strong>L1</strong>   <span>256 KB</span> 
                                    <br>
                                    <strong>L2</strong> <span>1 MB</span>
                                    <br>
                                    <strong>L3</strong> <span>No</span>
                    </div>
                </div>

                <div class="recomended-container">
                    <h3>Productos <strong>Recomendados</strong></h3>
                    <br>
                        <div class="product-recomended">
                            <div class="item-recomended">
                                <img class="img-main" src="../img/detalle/mother-item-1.jpg" alt="Imagen del producto">
                            </div>
                            <div class="item-recomended">
                                <p class="title-rec">Motherboard Gigabyte B550M H AM4</p>
                            </div>
                            <div class="item-recomended">
                                <span>$12.582,86</span>
                            </div>
                            <div class="cuotas">
                                <span>18 cuotas de $908,76<span>
                            </div>
                            <div class="cuotas">
                                <button class="rec-button">Ver producto</button>
                            </div>
                        </div>
                        <div class="product-recomended">
                            <div class="item-recomended">
                                <img class="img-main" src="../img/detalle/mother-item-2.jpg" alt="Imagen del producto">
                            </div>
                            <div class="item-recomended">
                                <p class="title-rec">Motherboard Asrock B550M PRO 4 AM4</p>
                            </div>
                            <div class="item-recomended">
                                <span>$13.078,01</span>
                            </div>
                            <div class="cuotas">
                                <span>18 cuotas de $944,52</span>
                            </div>
                            <div class="cuotas">
                                <button class="rec-button">Ver producto</button>
                            </div>
                        </div>

                        <div class="product-recomended">
                            <div class="item-recomended">
                                <img class="img-main" src="../img/detalle/mother-item-3.jpg" alt="Imagen del producto">
                            </div>
                            <div class="item-recomended">
                                <p class="title-rec">Motherboard Asrock B550M Steel Legend</p>
                            </div>
                            <div class="item-recomended">
                                <span>$19.159,49</span>
                            </div>
                            <div class="cuotas">
                                <span>18 cuotas de $1.383,74</span>
                            </div>
                            <div class="cuotas">
                                <button class="rec-button">Ver producto</button>
                            </div>
                        </div>

                        <div class="product-recomended">
                            <div class="item-recomended">
                                <img class="img-main" src="../img/detalle/mother-item-4.jpg" alt="Imagen del producto">
                            </div>
                            <div class="item-recomended">
                                <p class="title-rec">Motherboard Asus B450M TUF PLUS II</p>
                            </div>
                            <div class="item-recomended">
                                <span>$12.294,78</span>
                            </div>
                            <div class="cuotas">
                                <span>18 cuotas de $887,96</span>
                            </div>
                            <div class="cuotas">
                                <button class="rec-button">Ver producto</button>
                            </div>
                        </div>
                </div>




            </div>

        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>