<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    <script src="https://kit.fontawesome.com/cac22ebe42.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/img/shortcut-icon.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <div class="aligner-container">
            <nav class="nav-1">
                <div class="logo"><a href="http://localhost:3000/home"><img src="/img/logo.jpg"></a></div>
                <div class="bvar-container">
                    <input type="search" class="browser-bar" placeholder="Buscar">
                </div>
                <i id="burger" class="fa fa-bars burger"></i>
                <nav class="user-options">
                    <span><a href="http://localhost:3000/login" class="log"><i class="fas fa-user-circle"></i>Iniciar sesión / Registrarse</a></span>
                    <span><a href="#"><i class="far fa-heart"></i> Mis favoritos<!-- <i class="fas fa-heart"></i> corazon lleno !--></a></span>
                    <span><a href="#"><i class="fas fa-shopping-cart"></i>Mi carrito</a></span>
                </nav>
            </nav>
            <nav class="nav-2">
                <ul>
                <li><a href="#">Componentes</a></li>
                <li><a href="#">Periféricos</a></li>
                <li><a href="#">PC Armadas</a></li>
                <li><a href="#">Nootebooks</a></li>
                <li><a href="#">Soporte</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="aligner-container">
            <div class="flex-container-detalle">
                <div class="flex-items"><h2> Microprocesador - Micro AMD (FM2+) Apu A6-7480 3.8 Ghz</h2><br>
                    <img src="img/detalle/mother.jpg" alt="Imagen del producto">
                    <span class="precio-detalle-prod">$4.298,39</span> <span class="desc-detalle-prod">-30%</span>
                    <h3>General</h3>
                    <hr color="green" size=2 width="100%">
                    <div class="caracts">                 
                        <strong>Modelo</strong>   <span>Micro AMD APU A6-7480 3.8 Ghz</span> 
                        <br>
                        <strong>Familia</strong> <span>AMD A Series</span>
                        <br>
                        <strong>Nucleos</strong> <span>2</span>
                        <br>
                        <strong>Hilos</strong> <span>2</span>
                        <br>
                        <strong>Frecuencia</strong> <span>3.5 GHz</span>
                        <br>
                        <strong>Frecuencia Turbo</strong>  <span>3.8 GHz</span>
                        <br>
                        <strong>Proceso De Fabricacion</strong> <span>28 Nm</span>
                        <br>
                        <strong>Grafica Integrada</strong> <span>AMD Radeon R5</span>
                        <br>
                        <strong>Socket</strong> <span>FM2+</span>
                    </div>
                    <div>
                    <h3>Memoria</h3>
                <hr color="green" size=2 width="100%">
                <div class="caracts">                 
                    <strong>L1</strong>   <span>256 KB</span> 
                    <br>
                    <strong>L2</strong> <span>1 MB</span>
                    <br>
                    <strong>L3</strong> <span>No</span>
                </div>
                <div>
                    <h3>Memoria</h3>
                <hr color="green" size=2 width="100%">
                <div class="caracts">                 
                    <strong>Incluye Cooler CPU</strong>   <span>Si</span> 
                    <br>
                    <strong>TDP</strong> <span>65W</span>
                    <br>
                    <strong>Desbloqueado - Overclockeable</strong> <span>No</span>
                </div>
             </div>
                <button class="comprar-detalle">Comprar ahora</button>
                <div class="flex-items">Aca el Carrito</div>
                <div class="flex-items">Cantidad de productos en carrito</div>
                <div class="flex-items">Producto 3</div>


            </div>


        </section>

    </main>
    <footer>
        <div class="aligner-container">
            <nav class="footer-info">
                <span class="about-us">
                    <h2>Nosotros</h2>
                    <ul>
                        <li><a href="#">Av. Siempre viva 742 - Bs. As.</a></li>
                        <li><a href="#">+54 9 11 2233-4455</a></li>
                    </ul>
                </span>
                <span class="utility-info">
                    <h2>Información útil</h2>
                    <ul>
                        <li><a href="#">¿Qué es Geek Studio?</a></li>
                        <li><a href="#">Centro de ayuda</a></li>
                        <li><a href="#">Medios de pago</a></li>
                        <li><a href="#">Formas de envio</a></li>
                        <li><a href="#">Puntos de venta</a></li>
                    </ul>
                </span>
                <span class="support">
                    <h2>Soporte</h2>
                    <ul>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Garantías</a></li>
                    </ul>
                </span>
            </nav>
            <div>
                <p class="rigths">GeekStudio.com Copyright © 2020 GeekStudio Inc. All rights reverved.</p>
            </div>
        </div>
    </footer>
</body>
</html>