<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <script src="/js/html2pdf.bundle.min.js"></script>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="faq">
            <h1 class="chart-title">Preguntas Frecuentes</h1>
 

           <!-- class="text-md-left">Left aligned text on viewports sized MD (medium) or wider.</p> -->
           <h4 class="h4-faqs"> ¿Cómo hago un pedido?</h4>
             <p>Para armar un pedido deberás al carrito todos los productos que deseas, y al finalizar seleccionas comprar. En el 1° paso te preguntará si necesitas que se realice un envío, luego la forma de pago, luego accedes como cliente o creas un cliente nuevo según corresponda confirmas el pedido y te asigna un número de pedido y te da los datos de pago según corresponda.
             </p> 
        <br>        

        <h4 class="h4-faqs">¿Cómo uso el servicio de PosVenta y garantías? </h4>
            <p>Al pie de esta web nos tenes que dejar la consulta con un motivo de los que comiencem con 'PosVenta ...' y el servicio ténico va a estar respondiendo. En caso de preferír venir a la empresa por motivos unicamente de PosVenta, podes hacerlo sacando un turno haciendo click ACÁ .</p>
          <br>        

        <h4 class="h4-faqs">¿Cómo obtengo el juego y/o beneficios de los productos que se promocionan ese beneficio? </h4>
        <p>Todos los canjes de los juegos y/o beneficios se hacen de forma posterior a la entrega del producto y es totalmente de forma digital. Los canjes se realiza desde www.compragamer.com/canje con los datos de la factura de compra y el mail registrado en la compra. Se toma como fecha válida, para la vigencia de las promociones, la fecha en que fue creado el pedido vía web por el cliente, y no la fecha de pago ni la fecha de la factura. Considere que si realizó la compra del producto en promoción, en tiempo y forma, y no puede realizar el canje dentro de la fecha, ello se debe a que no se cuenta con stock de códigos. Así mismo, sepa que la disponibilidad de códigos es limitada, y una vez se agota, no será posible realizar el canje.</p>
        <br>

        <h4 class="h4-faqs">¿Son precios Finales o más IVA? </h4>
        <p>Todos los precios son finales IVA incluido.</p>
        <br>

        <h4 class="h4-faqs"> ¿Los precios publicados en la web en que moneda están? </h4>
        <p> Todos los precios de la web están expresados en pesos argentinos.</p>
        <br>

        <h4 class="h4-faqs"> ¿Que costo tiene un envío? </h4>
        <p> El costo del mismo se abona con el pedido, es decir, el pedido incluye el costo del envío. El valor del envío depende de las dimensiones del paquete y distancia. Podrás saber el costo del envío en tiempo real desde www.compragamer.com ingresando tu código postal en el producto a adquirir o a tu pedido. Y según el pedido desde la misma web se le informa si es bonificado el mismo.</p>
        <br>

        <h4 class="h4-faqs"> ¿Hacen envíos al interior? </h4>
        <p>  Hacemos envíos a todo el país mediante OCA, que es un servicio Puerta a Puerta (puede llegar a tu domicilio o a la sucursal de OCA más cercana a tu domicilio).</p>
    </div>
<br>
        
        <div class="go-top-container">
            <div class="go-top-button">
              <i class="fas fa-chevron-up"></i>
            </div>
          </div>

          <script src="/js/gotop.js"></script>
     </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>