<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="aligner-container">
            <div >
            <div class="hero-container">
                <img class="home-banner" src="/img/home-hero-banner.jpg" alt="">
            </div>
                <section class="sections-navbar">
                    <nav>
                        <ul>
                            <li><a href="/productos#componentes">Comp</a></li>
                            <li><a href="/productos#perifericos">Periféricos</a></li>
                            <li><a href="/productos#gabinetes">Gabinetes</a></li>
                            <li><a href="/productos#sillasgamer">Sillas Gamers</a></li>
                            <li><a href="/productos#combos">Combos</a></li>
                        </ul>
                    </nav>
                </section>
                <section class="for-sale">
                    <h2>Ofertas destacadas</h2>
                    <section class="articles">
                        <ul>
                            <li><img class="product" src="/img/product-1.jpg" alt=""><span class="product-info"><h4>Producto X</h4>100$</span></li>
                            <li><img class="product" src="/img/product-2.jpg" alt=""><span class="product-info"><h4>Producto X</h4>100$</span></li>
                            <li><img class="product" src="/img/product-3.jpg" alt=""><span class="product-info"><h4>Producto X</h4>100$</span></li>
                            <li><img class="product" src="/img/product-4.jpg" alt=""><span class="product-info"><h4>Producto X</h4>100$</span></li>
                            <li><img class="product" src="/img/product-5.jpg" alt=""><span class="product-info"><h4>Producto X</h4>100$</span></li>
                        </ul>
                    </section>
                </section>
            </div>
        </div>
    </main>

    <%- include('./partials/footer.ejs') %>

</body>
</html>