<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://kit.fontawesome.com/cac22ebe42.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <div class="aligner-container">
            <nav class="nav-1">
                <div class="logo"><a href="#"><img src="/img/logo.jpg"></a></div>
                <div><input type="search" class="browser-bar" placeholder="Buscar"></div>
                <i id="burger" class="fa fa-bars burger"></i>
                <nav class="user-options">
                    <span><a href="#" class="log"><i class="fas fa-user-circle"></i>Iniciar sesión / Registrarse</a></span>
                    <span><a href="#"><i class="far fa-heart"></i> Mis favoritos<!-- <i class="fas fa-heart"></i> corazon lleno !--></a></span>
                    <span><a href="#"><i class="fas fa-shopping-cart"></i>Mi carrito</a></span>
                </nav>
            </nav>
            <nav class="nav-2">
                <ul>
                <li><a href="#">Componentes</a></li>
                <li><a href="#">Periféricos</a></li>
                <li><a href="#">PC Armadas</a></li>
                <li><a href="#">Nootebooks</a></li>
                <li><a href="#">Soporte</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="aligner-container">
            <div >
                <img class="home-banner" src="/img/home-hero-banner.jpg" alt="">
                <section class="sections-navbar">
                    <nav>
                        <ul>
                            <li>Componentes</li>
                            <li>Periféricos</li>
                            <li>Gabinetes</li>
                            <li>Sillas Gamers</li>
                            <li>Combos</li>
                        </ul>
                    </nav>
                </section>
                <section class="for-sale">
                    <h2>Ofertas destacadas</h2>
                    <section class="articles">
                        <ul>
                            <li><img class="product" src="/img/product-1.jpg" alt=""><span class="product-info"><h4>Producto X</h4>100$</span></li>
                            <li><img class="product" src="/img/product-2.jpg" alt=""><span class="product-info"><h4>Producto X</h4>100$</span></li>
                            <li><img class="product" src="/img/product-3.jpg" alt=""><span class="product-info"><h4>Producto X</h4>100$</span></li>
                            <li><img class="product" src="/img/product-4.jpg" alt=""><span class="product-info"><h4>Producto X</h4>100$</span></li>
                            <li><img class="product" src="/img/product-5.jpg" alt=""><span class="product-info"><h4>Producto X</h4>100$</span></li>
                        </ul>
                    </section>
                </section>
            </div>
        </div>
    </main>
    <footer>
        <div class="aligner-container">
            <nav class="footer-info">
                <span class="about-us">
                    <h2>Nosotros</h2>
                    <ul>
                        <li><a href="#">Av. Siempre viva 742 - Bs. As.</a></li>
                        <li><a href="#">+54 9 11 2233-4455</a></li>
                    </ul>
                </span>
                <span class="utility-info">
                    <h2>Información útil</h2>
                    <ul>
                        <li><a href="#">¿Qué es Geek Studio?</a></li>
                        <li><a href="#">Centro de ayuda</a></li>
                        <li><a href="#">Medios de pago</a></li>
                        <li><a href="#">Formas de envio</a></li>
                        <li><a href="#">Puntos de venta</a></li>
                    </ul>
                </span>
                <span class="support">
                    <h2>Soporte</h2>
                    <ul>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Garantías</a></li>
                    </ul>
                </span>
            </nav>
            <div>
                <p class="rigths">GeekStudio.com Copyright © 2020 GeekStudio Inc. All rights reverved.</p>
            </div>
        </div>
    </footer>
</body>
</html>