<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <header>
        <div class="aligner-container">
            <nav class="nav-1">
                <div class="logo"><a href="/"><img src="/img/logo.jpg"></a></div>
                <div class="bvar-container">
                    <input type="search" class="browser-bar" placeholder="Buscar">
                </div>
                <i id="burger" class="fa fa-bars burger"></i>
                <nav class="user-options">
                    <span><a href="/login" class="log"><i class="fas fa-user-circle"></i>Iniciar sesión</a><a href="/registro">Registrarse</a></span>
                    <span><a href="#"><i class="far fa-heart"></i> Mis favoritos<!-- <i class="fas fa-heart"></i> corazon lleno !--></a></span>
                    <span><a href="/carro"><i class="fas fa-shopping-cart"></i>Mi carrito</a></span>
                </nav>
            </nav>
        </div>
    </header>
    <main>
        <div class="aligner-container">
            <div class= "login-container"> 
                <form class="login">
                    <h1 class="h1-login"> LOGIN </h1>

                    <div class="contenedor-login">
                        <div class="input_contenedor">
                            <i class="fas fa-user-circle" icon> </i>
                            <input class= "input-login" type="text" name="user"  placeholder="Ingrese Usuario">                 
                        </div>

                    <div class="input_contenedor"> 
                        <i class="fas fa-lock" icon-login></i>
                        <input class= "input-login"type="password" name="pass" placeholder="Ingrese Clave"> 
                    </div>        

                    <input type="submit" value ="Ingresar" class="button-login button-login-centrar">

                    <div class="div_p_login">
                        <p> <a class ="link-login" href="/recover-pass#recover-pass"> ¿Olvidaste tu contraseña? </a> </p>
                        
                        <p> <a class ="link-login" href="registro#registrarse"> Quiero Registrarme </a> </p>
                    </div>
                </form>
            </div> 
        </div>  
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>