

<!DOCTYPE html>
<html>
  <%- include ('./partials/head.ejs') %>
  <body>
  
    <!-- Header -->
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="aligner-container">
            <!-- Page content -->
            <div class="img-center">
                <img src ="/img/not-found.svg"  alt="not-found"   width="1200" height="800"> 
            </div>
        </div>
    </main>
      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>
    </div>
  </body>
</html>
