<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <script src="https://kit.fontawesome.com/cac22ebe42.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/img/shortcut-icon.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productos.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="aligner-container">
            <h1>PRODUCTOS</h1>
            <section>
                <h2 id="componentes">Componentes</h2>
                <ul>
                    <li>
                        <article>
                            <span class="article-image">
                                <img class="article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_18915_Mother_Gigabyte_Z490_AORUS_MASTER_10th_Gen_Socket_1200_9949e7d4-grn.jpg" alt="GeForce RTX 3090">
                                <div class="article-description">Gigabyte Z490 AORUS MASTER</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$50.070
                                </div>
                            </span>
                            <a href="productos/detalle">Detalle del producto</a>
                            <form action="" method="" >
                                <button type="submit">
                                    Agregar al carro
                                </button>
                            </form>
                        </article>
                    </li>
                    <li>
                        <article>
                            <span class="article-image">
                                <img class="article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_19123_Procesador_AMD_RYZEN_9_3950X_4.7GHz_Turbo_AM4_eb125692-grn.jpg" alt="GeForce RTX 3090">
                                <div class="article-description">AMD RYZEN 9 3950X</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$88.470</div>
                            </span>
                            <a href="productos/detalle">Detalle del producto</a>
                            <form action="" method="" >
                                <button type="submit">
                                    Agregar al carro
                                </button>
                            </form>
                        </article>
                    </li>
                    <li>
                        <article>
                            <span class="article-image">
                                <img class="article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_23461_Placa_de_Video_Asrock_Radeon_RX_6900_XT_16GB_GDDR6_PCIe_4.0_e2268b55-grn.jpg" alt="GeForce RTX 3090">
                                <div class="article-description">Asrock Radeon RX 6900</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$188.210</div>
                            </span>
                            <a href="productos/detalle">Detalle del producto</a>
                            <form action="" method="" >
                                <button type="submit">
                                    Agregar al carro
                                </button>
                            </form>
                        </article>
                    </li>
                    <li>
                        <article>
                            <span class="article-image">
                                <img class="article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_22138_Memoria_OLOy_DDR4_64GB__2x32GB__Warhawk_White_RGB_3600MHz_CL18_c7bdf3c3-grn.jpg" alt="Memoria RAM">
                                <div class="article-description">Memoria OLOy DDR4 64GB (2x32GB)</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$31.450
                                </div>
                            </span>
                            <a href="productos/detalle">Detalle del producto</a>
                            <form action="" method="" >
                                <button type="submit">
                                    Agregar al carro
                                </button>
                            </form>
                        </article>
                    </li>
                    <li>
                        <article>
                            <span class="article-image">
                                <img class="article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_20457_Disco_Solido_SSD_M.2_WD_2TB_Black_SN750_con_Disipador_3430MB_s_NVMe_PCI-E_x4_f30b44b9-grn.jpg" alt="Memoria RAM">
                                <div class="article-description">SSD M.2 WD 2TB Black</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$40.220
                                </div>
                            </span>
                            <a href="productos/detalle">Detalle del producto</a>
                            <form action="" method="" >
                                <button type="submit">
                                    Agregar al carro
                                </button>
                            </form>
                        </article>
                    </li>
                    <li>
                        <article>
                            <span class="article-image">
                                <img class="article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_23300_Fuente_ASUS_ROG_STRIX_THOR_1200P_80_Plus_Platinum_1200W_Full_modular_3ec56108-grn.jpg" alt="Fuente de Poder">
                                <div class="article-description">ASUS ROG STRIX THOR 1200P 80 Plus Platinum 1200W Full modular</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$81.260
                                </div>
                            </span>
                            <a href="productos/detalle">Detalle del producto</a>
                            <form action="" method="" >
                                <button type="submit">
                                    Agregar al carro
                                </button>
                            </form>
                        </article>
                    </li>
                </ul>
            </section>
            <section>
                <h2 id="perifericos">Periféricos</h2>
                <ul>
                    <li>Monitor</li>
                    <li>Teclado</li>
                    <li>Mouse</li>
                    <li>Micrófono</li>
                    <li>Auriculares</li>
                </ul>
            </section>
            <section>
                <h2 id="gabinetes">Gabinetes</h2>
                <ul>
                    <li>
                        <article>
                            <span class="article-image">
                                <img class="article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_21524_Gabinete_Cougar_GEMINI_X_7082c0f2-grn.jpg" alt="Fuente de Poder">
                                <div class="article-description">Gabinete Cougar GEMINI 3950X
                                </div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$140.370
                                </div>
                            </span>
                            <a href="productos/detalle">Detalle del producto</a>
                            <form action="" method="" >
                                <button type="submit">
                                    Agregar al carro
                                </button>
                            </form>
                        </article>
                    </li>
                </ul>
            </section>
            <section>
                <h2 id="sillasgamer">Sillas Gamer</h2>
                <ul>
                    <li>
                        <article>
                            <span class="article-image">
                                <img class="article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_22640_Silla_Gamer_KANJI_KJ-321C_Black-_Dark_Blue_75b95880-grn.jpg" alt="Fuente de Poder">
                                <div class="article-description">Silla Gamer KANJI KJ-321C Black- Dark Blue</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$45.030
                                </div>
                            </span>
                            <a href="productos/detalle">Detalle del producto</a>
                            <form action="" method="" >
                                <button type="submit">
                                    Agregar al carro
                                </button>
                            </form>
                        </article>
                    </li>
                </ul>
            </section>
            <section>
                <h2 id="combos">Combos</h2>
                <ul>
                    <li>
                        <article>
                            <span class="article-image">
                                <img class="article-image"src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_0__KIT_DAYS_R5_X580___AMD_Ryzen_5_1600_AF_Zen____RX_580_8GB_OC_Phantom___Asus_A320M-K_PRIME_d908286e-grn.jpg" alt="Fuente de Poder">
                                <div class="article-description">KIT DAYS R5 X580</div>
                            </span>
                            <span>
                                <div>Precio</div>
                                <div>$40.470
                                </div>
                            </span>
                            <a href="productos/detalle">Detalle del producto</a>
                            <form action="" method="" >
                                <button type="submit">
                                    Agregar al carro
                                </button>
                            </form>
                        </article>
                    </li>
                </ul>
            </section>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>