<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="aligner-container"> 
            <% categories.forEach(element => { %>
                <%= element.dataValues.name %>
                




                <% }); %> 

        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>