<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/cac22ebe42.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/img/shortcut-icon.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="aligner-container">
            <div class= "login-container"> 
                <form class="login">
                    <h1 class="h1-login"> RECUPERAR CONTRASEÑA </h1>

                    <div class="contenedor-login">
                        <div class="input_contenedor">
                            <i class="far fa-envelope" icon-login> </i>
                            <input class= "input-login" type="email" name="email"  placeholder="Ingrese E-mail">                 
                        </div>

                    
                    <div class="div-robot">
                        <input type="checkbox" value ="No soy un robot" name="check-robot">
                        <label>No soy un robot</label>
                    </div>
                    <br>
                    <input type="submit" name = "button-recover" value ="Enviar" class="button-login button-login-centrar">
                </form>
            </div> 
        </div>  
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
