<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
    <div class="aligner-container">
        <div class= "login-container"> 
            <form class="form-login" action="">
                <h1>Login </h1>
                <div class="textbox-login">
                    <input type="email" placeholder="E-Mail" name="" required />
                </div>

                <div class="textbox-login">
                    <input type="text" placeholder="Nombre" name="name" required />
                </div>
                
                <div class="textbox-login">
                    <input type="text" placeholder="Apellido" name="surname" required />
                </div>

                <div class="textbox-login">
                    <input type="text" placeholder="Telefono" name="telephone" />
                </div>

                <div class="textbox-login">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Contrase単a" name="pass-1" required/>
                </div>

                <div class="textbox-login">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <input type="password" placeholder="Repetir Contrase単a" name="pass-2" required/>
                </div>
            
                <input class="btn-login" type="submit" value="Registrarse" >

                <div class="div_p_login">
                    <p> <a class ="link-login" href="/user/recover-pass#recover-pass"> 多Olvidaste tu contrase単a? </a> </p>
                    
                    <p> <a class ="link-login" href="/user/register#registrarse"> Quiero Registrarme </a> </p>
                </div>
            </form>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>